<hr>
<i id='anchor-gra'></i>
<div class="container carte-profile">
    <h2>Évaluation</h2>
    <div  class="mgs-note-warnprof">
        <span class="icon-exclamation-circle nav-icon-fa-sm nav-text"></span>
        &nbsp;Sur un écran plus grand : ordinateur, tablette, vous aurez plus de détails que sur téléphone. Les notes sont disponibles si vos paiements d'écolage sont à jour.
        <br><strong>Ces informations sont provisoires et sont en attente d'approbation du jury final qui reste souverain. Les décisions du jury sont toujours prises dans l'intérêt de l'étudiant.</strong><br>
    </div>
        <br><a href="/helplmd">Voir l'aide sur le système LMD</a>.</span><br><br>
    <div class="row">
        <div class="col-12">
            <div id="jsGridStuGrade">
            </div>
        </div>
    </div>
    <div class="row button-bottom">
        <div class="col-lg-9">
        </div>
        <div class="col-lg-2">
            <button type="button" class="btn btn-outline-dark btn-md btn-block go-to-top"><span class="icon-arrow-up nav-text"></span>&nbsp;Remonter&nbsp;<span class="icon-arrow-up nav-text"></span></button>
        </div>
        <div class="col-lg-1">
        </div>
    </div>
</div>