<hr>
<i id='anchor-gra'></i>
<div class="container carte-profile">
    <h2>Notes aux examen</h2>
    <div class="row">
        <div class="col-12">
            <div id="jsGridStuGrade">
            </div>
        </div>
    </div>
    <div class="row button-bottom">
        <div class="col-lg-9">
        </div>
        <div class="col-lg-2">
            <button type="button" class="btn btn-outline-dark btn-md btn-block go-to-top"><span class="icon-arrow-up nav-text"></span>&nbsp;Remonter&nbsp;<span class="icon-arrow-up nav-text"></span></button>
        </div>
        <div class="col-lg-1">
        </div>
    </div>
</div>