<hr>
<i id='anchor-pay'></i>
<div class="container carte-profile">
    <h2>Frais de scolarité</h2>
    <div class="pr-title"><span class="icon-file-1 nav-icon-fa nav-text"></span>&nbsp;Écolage : reste à payer</div>
    <div  class="mgs-note-warnprof">
        <span class="icon-exclamation-circle nav-icon-fa-sm nav-text"></span>
        &nbsp;Sur un écran plus grand : ordinateur, tablette, vous aurez plus de détails que sur téléphone. L.E. indique "Lettre d'engagement"
    </div>
        <br><a href="/helpfraisdescolarite">Voir le tutoriel frais de scolarité</a>.</span><br><br>
    <div class="row">
        <div class="col-12">
            <div id="jsGridSumPerTranche">
            </div>
        </div>
    </div>
    <br><br><br>
    <div class="pr-title"><span class="icon-files nav-icon-fa nav-text"></span>&nbsp;Écolage : historique</div>
    <div class="row">
        <div class="col-12">
            <div id="jsGridHisto">
            </div>
        </div>
    </div>
    <div  class="mgs-note-warnprof">
        <span class="icon-exclamation-circle nav-icon-fa-sm nav-text"></span>
        &nbsp;Sur un écran plus grand : ordinateur, tablette, vous aurez plus de détails que sur téléphone.<br>L.E. indique "Lettre d'engagement" et il a une durée de validité de {{ param_le_limit }} jours.<br>
        Pour vos transfert Mvola, il est impératif de <i class='recap-qui'>mettre en libellé votre USERNAME et uniquement votre USERNAME</i>. Si vous indiquez autre chose que votre USERNAME votre paiement ne sera pas traité automatiquement. Le matricule, le nom ou le prénom ne sont pas acceptés. Vous devrez donc passer en caisse pour qu'on puisse vous l'attribuer.<br>
        Si vous faîtes un dépôt, vous devez ensuite passer en caisse pour qu'on puisse retrouver le paiement et vous l'attribuer.<br>
        Attention : <i class='recap-qui'>des frais additionnel de {{ param_frais_mvola }}Ar</i> sont pris sur chaque paiement Mvola qui sont une participation aux frais de retrait. Pour ne pas avoir à les payer, priviligiez le paiement en cash.<br>
        Le dernier chargement des fichiers Mvola date du {{ result_last_mvola[0]['LAST_DATE'] }} à {{ result_last_mvola[0]['LAST_TIME'] }}. Si votre paiement a été fait après, il est possible qu'il ne soit pas encore traité.<br>
        "Ref." indique le montant de référence et "Payé" la somme déjà acquittée pour ce frais de scolarité de référence.
        <br><br>
        Quand vous payez avec Mvola, le système va d'abord retirer les frais additionnels Mvola ensuite il va vérifier si vous avez payé les frais fixes (concours/entretien, inscription et frais généraux) et enfin il va payer dans l'ordre les tranches 1, 2 et 3.
        <br>Nous conservons un historique de 30 jours des paiements Mvola non intégrés. Si vous ne le voyez pas affiché, venez vite nous voir.
    </div>
    <div class="row button-bottom">
        <div class="col-lg-9">
        </div>
        <div class="col-lg-2">
            <button type="button" class="btn btn-outline-dark btn-md btn-block go-to-top"><span class="icon-arrow-up nav-text"></span>&nbsp;Remonter&nbsp;<span class="icon-arrow-up nav-text"></span></button>
        </div>
        <div class="col-lg-1">
        </div>
    </div>
</div>