<div class="col-sm-1">
</div>
<div class="col-sm-4">
  <button type="button" id="scmenu-edt" class="btn btn-outline-dark btn-sm menu-btn"><span class="icon-calendar nav-text"></span>&nbsp;EDT</button>
  {% if param_does_pay_display == 'Y' %}
      <button type="button" id="scmenu-pay" class="btn btn-outline-dark btn-sm menu-btn"><span class="icon-files nav-text"></span>&nbsp;Écolage</button>
  {% endif %}
</div>
<div class="col-sm-3">
</div>