{% include 'RawTemplate/_hearder.html.twig' %}

<div id="home-ban" class="row">
  {% set home_i = random(['1', '2', '3', '4', '5', '6', '7']) %}
  <div id="home-entry"  class="img-home{{ home_i }} col-lg-12">
  </div>
  <div id="home-greet" class="col-lg-6">
    UACEEM : Donnez-vous toutes les chances
  </div>
</div>


<div class="row">
  <div class="col-lg-3 mgs-mainblk-txt">
  </div>
  <div class="col-lg-6 mgs-mainblk-txt">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis consequat ullamcorper risus, ac aliquet felis lacinia in. Aenean sed nisl in tortor semper interdum quis at nibh. Ut sit amet nibh sagittis, pharetra magna eget, eleifend justo. Etiam porta viverra lectus, vitae mattis elit rhoncus vel. Nam dignissim sapien id quam ultricies, quis volutpat ipsum posuere. Maecenas pulvinar facilisis quam, et blandit dui sagittis non. In lacinia turpis metus. Nulla diam arcu, luctus vitae pulvinar eu, gravida eget magna.

    Donec nec euismod purus. Nam pretium dignissim ante nec dapibus. Mauris ut ex vitae felis condimentum lacinia ut eu ipsum. Phasellus est nibh, scelerisque sit amet tincidunt quis, varius quis arcu. Sed volutpat lectus at porttitor ullamcorper. Nam sit amet felis convallis, egestas neque eget, tristique leo. Curabitur quis magna et eros blandit scelerisque. Aliquam tempor ante id augue egestas sagittis. Suspendisse fermentum iaculis diam, nec rhoncus nisi dapibus nec. Suspendisse imperdiet libero in nisi molestie posuere. Aliquam et dolor diam. Integer a interdum nisi. Maecenas a vulputate nisi, ut tempor neque. Phasellus id tellus ut sem consequat porttitor. Maecenas eget bibendum urna.

    Vestibulum at ligula suscipit, egestas leo sed, sagittis dolor. Nunc posuere nunc in iaculis accumsan. Cras tempor ex dapibus nunc accumsan egestas. Phasellus pellentesque tellus ut volutpat cursus. Cras viverra at odio quis varius. Praesent volutpat mollis efficitur. Suspendisse leo elit, maximus sit amet dapibus at, varius quis urna. Ut ut vestibulum ligula, a fermentum massa. Etiam a volutpat arcu. Curabitur ut iaculis tellus.

    Ut at dui sem. Vivamus tincidunt urna eget tortor hendrerit, vel viverra ante pharetra. Vestibulum consequat magna eu massa aliquet, et egestas nunc consectetur. Ut pellentesque tellus et mi semper tempor vel et tortor. Duis sit amet mauris vulputate, tincidunt enim at, varius erat. Vivamus molestie, massa in volutpat malesuada, augue felis finibus odio, in hendrerit est sapien id augue. Integer suscipit lorem augue, quis congue ex auctor a. Aliquam a enim id purus blandit imperdiet. Mauris elementum fermentum porttitor. Vivamus ac porttitor magna, quis scelerisque est. Nullam venenatis dolor mi, in facilisis nisl consequat quis. Phasellus elementum consectetur felis, non rhoncus ligula egestas sit amet.

    Integer sed efficitur lorem. Nullam finibus massa at diam porta, vel lacinia lorem rhoncus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec non tortor dapibus, lacinia velit at, ultricies justo. Curabitur efficitur lacus eu lacus tincidunt, eu tristique leo aliquet. Morbi tempus, dolor sit amet pretium semper, sem tortor iaculis tortor, non porta ligula nisl at ex. Phasellus non euismod mauris. Mauris nec dolor sed urna mattis interdum. Nunc convallis, sem a elementum consequat, magna massa rutrum nisi, non euismod dui odio id ligula.
  </div>
  <div class="col-lg-3 mgs-mainblk-txt">
  </div>
</div>

{% include 'RawTemplate/_footer.html.twig' %}
