&nbsp;<span class="icon-caret-right nav-icon-fa-sm nav-text"></span>&nbsp;1x Demande manuscrite avec motivation (adresser à Mr le Recteur de l’Université ACEEM)<br>
&nbsp;<span class="icon-caret-right nav-icon-fa-sm nav-text"></span>&nbsp;1x Certificat de résidence<br>
&nbsp;<span class="icon-caret-right nav-icon-fa-sm nav-text"></span>&nbsp;1x Bulletin de naissance<br>
&nbsp;<span class="icon-caret-right nav-icon-fa-sm nav-text"></span>&nbsp;6x Timbres ordinaire (500Ar) + 3x Enveloppes <br>
&nbsp;<span class="icon-caret-right nav-icon-fa-sm nav-text"></span>&nbsp;1x Relevé de notes BAC et/ou Diplome BAC (photocopie certifiée)<br>
&nbsp;<span class="icon-caret-right nav-icon-fa-sm nav-text"></span>&nbsp;4x Photos d’identités récentes<br>
&nbsp;<span class="icon-caret-right nav-icon-fa-sm nav-text"></span>&nbsp;50.000 Ar (droit d’examen de dossier)<br>
