<br>
<a href="{{ path('main') }}data/FichePreInscription.pdf" type="button" class="btn btn-default btn-lg btn-block"><span class="icon-file-text-o nav-text"></span>&nbsp;Télécharger la fiche de pré-inscription</a>
<br>
<br>
<button type="button" class="btn btn-outline-dark btn-sm men-up"><span class="icon-arrow-circle-up nav-text"></span>&nbsp;Revenir en haut</button>
