{% include 'RawTemplate/_hearder.html.twig' %}


<div class="row">
  <div class="col-lg-1">
  </div>
  <div class="col-lg-10">
    <h1>Inscription</h1>
  </div>
  <div class="col-lg-1">
  </div>
</div>
<hr>
<div class="row">
  <div class="col-lg-12 pos-center top-text-pc">
    Les inscriptions en ligne ne sont pas encore disponibles pour le moment.
  </div>
</div>

<div class="row pc-big-block pos-center">
    <div class="col-lg-1">
    </div>
    <div class="col-lg-2 bg-pc-gen bg-pc-l1">
      <div class="title-pc">Licence 1</div>
      <div class="subtitle-pc">
        Premier Cycle
      </div>
      <div class="price-pc">
        XXX XXX
      </div>
      <div class="note-det-pc pos-center">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque porta velit a massa rhoncus, a varius ipsum ornare. Maecenas vel turpis vel tortor convallis rhoncus sed et nibh.
      </div>
    </div>
    <div class="col-lg-2 bg-pc-gen bg-pc-l2">
      <div class="title-pc">Licence 2</div>
      <div class="subtitle-pc">
        Premier Cycle
      </div>
      <div class="price-pc">
        XXX XXX
      </div>
      <div class="note-det-pc pos-center">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque porta velit a massa rhoncus, a varius ipsum ornare. Maecenas vel turpis vel tortor convallis rhoncus sed et nibh.
      </div>
      <div class="note-pc pos-center">
        <div>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </div>
      </div>
    </div>
    <div class="col-lg-2 bg-pc-gen bg-pc-ab-l3">
      <div class="title-pc">Licence 3</div>
      <div class="subtitle-pc">
        Premier Cycle
      </div>
      <div class="price-pc">
        XXX XXX
      </div>
      <div class="note-det-pc pos-center">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque porta velit a massa rhoncus, a varius ipsum ornare. Maecenas vel turpis vel tortor convallis rhoncus sed et nibh.
      </div>
      <div class="note-pc pos-center">
        <div>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </div>
      </div>
    </div>
    <div class="col-lg-2 bg-pc-gen bg-pc-ab-m1">
      <div class="title-pc">Master 1</div>
      <div class="subtitle-pc">
        Deuxième Cycle
      </div>
      <div class="price-pc">
        XXX XXX
      </div>
      <div class="note-det-pc pos-center">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque porta velit a massa rhoncus, a varius ipsum ornare. Maecenas vel turpis vel tortor convallis rhoncus sed et nibh.
      </div>
      <div class="note-pc pos-center">
        <div>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.

        </div>
      </div>
    </div>
    <div class="col-lg-2 bg-pc-gen bg-pc-ab-m2">
      <div class="title-pc">Master 2</div>
      <div class="subtitle-pc">
        Deuxième Cycle
      </div>
      <div class="price-pc">
        XXX XXX
      </div>
      <div class="note-det-pc pos-center">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque porta velit a massa rhoncus, a varius ipsum ornare. Maecenas vel turpis vel tortor convallis rhoncus sed et nibh.
      </div>
      <div class="note-pc pos-center">
        <div>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.

        </div>
      </div>
    </div>
    <div class="col-lg-1">
    </div>
</div>

<div class="row">
  <div class="col-lg-12 pos-center bottom-text">
    Les inscriptions ne garantissent pas une admission au sein de l'UACEEM. Seuls les lauréats du concours ou les dossiers admis après examen pourront aboutir à une inscription définitive.
  </div>
</div>

{% include 'RawTemplate/_footer.html.twig' %}
