{% include 'RawTemplate/_hearder.html.twig' %}

<div class="row">
  <div class="col-lg-3 mgs-mainblk-txt">
  </div>
  <div class="col-lg-6 mgs-mainblk-txt">
        <img src="{{ path('main') }}img/Error736_500px.png" style="width:500px; height:333px; opacity: 1;"
                  title="MGScoreCertificate" alt="MGScore Certification" class="uac-img-center error-img">

              <div>
                Désolé ! Si vous arrivez ici, c'est que vos droits d'accès sont insufissants
              </div>
  </div>
  <div class="col-lg-3 mgs-mainblk-txt">
  </div>
</div>

{% include 'RawTemplate/_footer.html.twig' %}
