{% include 'RawTemplate/_hearder.html.twig' %}

<div class="row">
  <div class="col-lg-3 mgs-mainblk-txt">
  </div>
  <div class="col-lg-6 mgs-mainblk-txt">
        <img src="{{ path('main') }}img/Error500_500px.png" style="width:500px; height:333px; opacity: 1;"
                  title="MGScoreCertificate" alt="MGScore Error 500" class="uac-img-center error-img">

              <div>
                Désolé ! Nous ne trouvons pas la page que vous recherchez. N'hésitez pas à nous contacter si vous avez besoin d'assistance : Indiquez nous la page ou url que vous avez essayé d'atteindre et indiquez nous le code d'erreur Err500.
              </div>
  </div>
  <div class="col-lg-3 mgs-mainblk-txt">
  </div>
</div>

{% include 'RawTemplate/_footer.html.twig' %}
