{% include 'RawTemplate/_hearder.html.twig' %}

<div class="row">
  <div class="col-lg-3 mgs-mainblk-txt">
  </div>
  <div class="col-lg-6 mgs-mainblk-txt">
    <h1>Partenariat</h1>

    Si vous êtes une entreprise privée ou une institution publique, découvrez comment nous pouvons collaborer : sponsoring, presse, parrainage de promotion, embauche, stage, conférence, tutorat et bien d'autres.<br><br>
    Contactez vite notre responsable relation publique : <br>

    <div class='ace-blk-contact'>
      <div class='ace-contact'>
        <span class="icon-envelope-o nav-icon-fa nav-text"></span>&nbsp;jeanclaude.rabarijaona@uaceem.com <br>
        <span class="icon-phone-square nav-icon-fa nav-text"></span>&nbsp;032 09 XXX XX <br>
        <span class="icon-phone-square nav-icon-fa nav-text"></span>&nbsp;034 12 XXX XX <br>
      </div>
    </div>
  </div>
  <div class="col-lg-3 mgs-mainblk-txt">
  </div>
</div>

<div class="row">
  <div class="col-lg-3 mgs-mainblk-txt">
  </div>
  <div class="col-lg-6 mgs-mainblk-txt">
    <hr>
    Voici la liste non exhaustive des différentes entités qui nous ont fait confiance :
  </div>
  <div class="col-lg-3 mgs-mainblk-txt">
  </div>
</div>

{% include 'Static/_partnerlg.html.twig' %}


{% include 'RawTemplate/_footer.html.twig' %}
