{% include 'RawTemplate/_hearder.html.twig' %}
<div id="home-ban" class="row">

  <div id="univ-entry"  class="img-static-prov col-lg-12">
  </div>
  <div id="home-greet" class="col-lg-6">
    Province et internationaux
  </div>
</div>
<div class="row">
    <div class="col-lg-3">
    </div>
    <div class="uac-pag-blk col-lg-6">
        <div>
        <h2>Nous sommes ravis d'accueillir chaleureusement les étudiants provinciaux et internationaux à l'Université ACEEM</h2>
        <br>
        Au sein de notre institution, nous célébrons la diversité culturelle et académique, offrant un environnement inclusif où chaque étudiant peut s'épanouir.
        Aux étudiants des îles des Comores, nous vous souhaitons la bienvenue dans notre communauté universitaire malagasy.
        Que votre séjour parmi nous soit enrichissant sur le plan académique et personnel.
        Nous sommes impatients de partager des connaissances, des expériences et des moments inoubliables avec vous.
        N'hésitez pas à explorer nos programmes d'études, nos activités parascolaires et nos ressources pour une expérience éducative complète.<br><br>
        Bienvenue à l'Université ACEEM, où chaque étudiant fait partie d'une famille mondiale dédiée à la réussite et à l'épanouissement.
        </div>
    </div>
    <div class="col-lg-3">
    </div>
</div>

{% include 'RawTemplate/_inprogress.html.twig' %}
{% include 'RawTemplate/_footer.html.twig' %}
