{% include 'RawTemplate/_hearder.html.twig' %}
{% set i_width = 33 %}
<div class="row">
  <div class="col-sm-3 mgs-mainblk-txt">
  </div>
  <div class="col-sm-6 mgs-mainblk-txt">
    
    <div class="mg-verify-page">
        <div>
                <img src="{{ path('main') }}img/certificationDiplome01.png" style="width:350px; height:350px; opacity: 0.8;"
                        title="ACEEMCertificate" alt="ACEEM Certification">
        </div>
    </div>

    
    <div class="mgs-ace-note">
        <br><br>Dernière mise à jour : 16 Septembre 2023
    </div>
    <h1>Vérification diplôme ACEEM</h1>
    <hr>
    <div>
    Dans un soucis constant d'amélioration de sa qualité et de protection de ses étudiants ainsi que de l'enseignement à Madagascar, l'Université ACEEM a mis en place une protection de diplôme.
    Depuis 2023, nous donnons la possibilité à nos étudiants sortants d'obtenir une version dématérilisée de leur diplôme en QRCode. Ce QRCode renvoie directement au site uaceem.com et il indique si oui ou non, le diplôme est vrai ou non.<br><br>
    Cet outil s'adresse aux recruteurs, futurs employeurs ou autres universités, il permet ainsi d'attester en toute confiance la véracité des diplômes de l'ACEEM.
    <br><br>
    <h2>Comment ça fonctionne ?</h2>
    Demandez au candidat ou à l'étudiant de vous fournir son diplôme dématerialisé (QRCode) et scannez-le avec votre téléphone. Si besoin, vous pouvez contacter l'université pour toute question.
    <br><br>
    <h2>Quelles promotions sont concernées ?</h2>
    Les promotions concernées sont les suivantes :
    <ul>
        <li>2021-22 : Promotion "Tsara Joro"</li>
    </ul>
    <i class="icon-exclamation-triangle"></i>&nbsp;Les autres années sont en cours de migration et pour l'instant, ne sont pas encore vérifiables.
    <br><br>
    <h2>Comment vérifier ?</h2>
    Quand le candidat ou l'étudiant ancien de l'ACEEM, vous donne le QRCode, vous le scannez avec votre téléphone. Cela va vous rediriger vers une page du site uaceem.com (vérifiez bien que vous êtes sur uaceem.com).
    Ensuite vous aurez une page comme ceci : 
    <div class="mg-verify-page">
        <div>
                    <img src="{{ path('main') }}img/exampleCertification.png" style="width:500px; opacity: 0.7;"
                            title="ACEEMCertificateExample" alt="ACEEM Certification Exemple">
        </div>
    </div>
    <i class="icon-exclamation-triangle"></i>&nbsp;Si vous obtenez une page diffénte ou une ERREUR 414, il se peut qu'il s'agisse d'un faux. Contactez-nous pour vous en assurer.
    </div>
  </div>
  <div class="col-sm-3 mgs-mainblk-txt">
  </div>
</div>

{% include 'RawTemplate/_footer.html.twig' %}
