{% include 'RawTemplate/_hearder.html.twig' %}
<div id="home-ban" class="row">
  {% set home_i = random(['1', '2', '3', '4', '5', '6', '7']) %}
  <div id="univ-entry"  class="img-home{{ home_i }} col-lg-12">
  </div>
  <div id="home-greet" class="col-lg-6">
    Vie étudiante
  </div>
</div>
<div class="row">
    <div class="col-lg-3">
    </div>
    <div class="uac-pag-blk col-lg-6">
        <div>
        L'Université ACEEM offre une vie étudiante dynamique et enrichissante, propice à l'épanouissement personnel et académique.
        Nos associations étudiantes jouent un rôle vital dans cet environnement, offrant une multitude d'opportunités pour s'impliquer et se divertir.
        Que vous soyez passionné par le sport, la danse, le chant ou d'autres formes d'expression, vous trouverez certainement une association qui correspond à vos intérêts et à vos talents.
        Ces groupes offrent non seulement une communauté d'amis partageant les mêmes idées, mais aussi des occasions de développer des compétences de leadership, de collaboration et de gestion du temps.
        <br><br>
        Rejoindre une association est une excellente façon de compléter votre expérience universitaire et de créer des souvenirs inoubliables tout en poursuivant vos études à l'Université ACEEM.
        </div>
    </div>
    <div class="col-lg-3">
    </div>
</div>

{% include 'RawTemplate/_inprogress.html.twig' %}
{% include 'RawTemplate/_footer.html.twig' %}
