{% include 'RawTemplate/_hearder.html.twig' %}
<div id="home-ban" class="row">
  {% set home_i = random(['1', '2', '3', '4', '5', '6', '7']) %}
  <div id="univ-entry"  class="img-home{{ home_i }} col-lg-12">
  </div>
  <div id="home-greet" class="col-lg-6">
    Vie étudiante
  </div>
</div>

<div class="row">
  <div class="col-lg-3 mgs-mainblk-txt">
  </div>
  <div class="col-lg-6 mgs-mainblk-txt">
    La page est en construction. Nous revenons très vite^^
  </div>
  <div class="col-lg-3 mgs-mainblk-txt">
  </div>
</div>


{% include 'RawTemplate/_footer.html.twig' %}
