{% include 'RawTemplate/_hearder.html.twig' %}
<div id="home-ban" class="row">
  {% set home_i = random(['1', '2', '3', '4', '5', '6', '7']) %}
  <div id="univ-entry"  class="img-home{{ home_i }} col-lg-12">
  </div>
  <div id="home-greet" class="col-lg-6">
    Vie étudiante
  </div>
</div>

{% include 'RawTemplate/_inprogress.html.twig' %}
{% include 'RawTemplate/_footer.html.twig' %}
