{% include 'RawTemplate/_hearder.html.twig' %}
<div id="home-ban" class="row">

  <div id="univ-entry"  class="img-visit-guid col-lg-12">
  </div>
  <div id="home-greet" class="col-lg-6">
    Visite guidée
  </div>
</div>

{% include 'RawTemplate/_inprogress.html.twig' %}
{% include 'RawTemplate/_footer.html.twig' %}
