
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/.env.MMN
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> Link for mdl_data
/public/img/mdl_data
/public/img/ace_gra
/public/img/logo32x32.jpg
/.env.PROD
# You have to create you own per environment
/config/server/_server_config.php

# Test files
/config/db/_data/*
