{#
  <img id="selfie" src="{{ path('main') }}img/nophoto.png" style="width:150px; height:150px; opacity: 1;" title="no Photo" alt="No Photo" class="uac-img-center img-profile">
#}
<div id="blk-selfie" class="mgs-mainblk-txt">
      <img id="selfie" src="{{ path('main') }}img/mdl_data/{{ profile['USERNAME']|lower }}.jpg" style="width:150px; height:150px; opacity: 1;" title="no Photo" alt="No Photo" class="uac-img-center img-profile">
</div>
