{% include 'RawTemplate/_hearder.html.twig' %}
<div id="home-ban" class="row">
  {% set home_i = '5' %}
  <div id="univ-entry"  class="img-home{{ home_i }} col-lg-12">
  </div>
  <div id="home-greet" class="col-lg-6">
    Alumni : anciens élèves
  </div>
</div>

{% include 'RawTemplate/_inprogress.html.twig' %}


{% include 'RawTemplate/_footer.html.twig' %}
