<br>
Si vous n'êtes pas dans ce cas, c'est que vous êtes <strong>nouveau en licence ou en master</strong> et nous devons vous créer une nouvelle fiche, cliquez ici vous inscrire<br><br><br>
<div class="center">
    <a href="{{ param_new_link_l }}" class="btn btn-dark btn-reapp" role="button">&nbsp;&nbsp;Licence (L1/L2/L3)&nbsp;&nbsp;</a>
    <a href="{{ param_new_link_m }}" class="btn btn-default btn-reapp" role="button">&nbsp;&nbsp;Master (M1/M2)&nbsp;&nbsp;</a>
</div>