<div class="ace-hidden-goto">
    <div class="row">
      <div class="col-lg-3">
    	</div>
      <div class="col-lg-6">
          <form action="/verifys1reapp83928398982739827392837928328" method="post" id="mg-vs1-reapp-form">
            <input type="submit" name="formSubmit" class="btn btn-default btn-lg btn-block" id="mg-verify-s1-btn"
                    value="verify S1"/>

            <input type="text" class="input-gra" name="fUsername" id="fUsername" value="">
            <input type="text" class="input-gra" name="fEmail" id="fEmail" value="">
            <input type="text" class="input-gra" name="fLocaleName" id="fLocaleName" value="">

            {#
                <textarea class="form-control step-hid" rows="1" id="can-master-id" name="can-master-id" placeholder="master id" style="resize: none;"></textarea>
            #}
          </form>
      </div>
      <div class="col-lg-3">
      </div>
    </div>
</div>