<div class="ace-hidden-goto">
    <div class="row">
      <div class="col-lg-3">
    	</div>
      <div class="col-lg-6">
          <form action="/submitreapp09928398982739827938837928328" method="post" id="mg-sub-reapp-form">
            <input type="submit" name="formSubmit" class="btn btn-default btn-lg btn-block" id="mg-submit-reapp-btn"
                    value="submit Reapp"/>

            <input type="text" class="input-gra" name="fUsername" id="fUsername" value="">
            <input type="text" class="input-gra" name="fEmail" id="fEmail" value="">

            <input type="text" class="input-gra" name="fLastname" id="fLastname" value="">
            <input type="text" class="input-gra" name="fFirstname" id="fFirstname" value="">
            <input type="text" class="input-gra" name="fOthfirstname" id="fOthfirstname" value="">
            <input type="text" class="input-gra" name="fMatricule" id="fMatricule" value="">
            <input type="text" class="input-gra" name="fTelstu" id="fTelstu" value="">
            <input type="text" class="input-gra" name="fLivingconfiguration" id="fLivingconfiguration" value="">
            <input type="text" class="input-gra" name="fClasseid" id="fClasseid" value="">
            <input type="text" class="input-gra" name="fMakeUp" id="fMakeUp" value="">

            

            <input type="text" class="input-gra" name="fLocaleName" id="fLocaleName" value="">

            {#
                <textarea class="form-control step-hid" rows="1" id="can-master-id" name="can-master-id" placeholder="master id" style="resize: none;"></textarea>
            #}
          </form>
      </div>
      <div class="col-lg-3">
      </div>
    </div>
</div>