:root {
  --main-ace-color: #305B9F;
  --main-ace-color-light: #89a9dc;
  --main-ace-color-contrast: #172d4f;
  --light-ace-color: #c4d4ed;
  --main-gray-25:#A7A7A7;
  --main-gray-50:#5A5A5A;
  --main-gray-75:#393939;
  --err-ace-color: #90000F;
  --val-ace-color: #00561A;
}


/* Bootstrap */

.btn-default{
   color: white !important;
   background-color:var(--main-ace-color);
   border-color:#130022;
 }
.btn.btn-default:hover,
.btn.btn-default:focus,
.btn.btn-default:active,
.btn.btn-default.active {
    color: var(--main-ace-color-contrast) !important;
    background-color: var(--main-ace-color-light);
}

.btn-default-light{
   color: $main-color;
   background-color:var(--main-ace-color-light);
   border-color:#130022;
 }
.btn.btn-default-light:hover,
.btn.btn-default-light:focus,
.btn.btn-default-light:active,
.btn.btn-default-light.active {
    color: #45007B;
    background-color: var(--main-ace-color-contrast);
}


html, body {
  height: 100%;
  margin: 0;
  font-family: "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;
}

.navbar-nav .dropdown-menu{
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.navbar-toggler:not(:disabled):not(.disabled){
  margin-right: 10px;
}

.navbar-light .navbar-nav .nav-link{
  font-size: 18px;
}

h1 {
  font-size: 3.2em;
  font-weight: lighter;
}

#home-ban{
  position: relative;
}

.img-home1{
  background: url("../img/backgroundhome1.jpg") no-repeat center center fixed;
}

.img-home2{
  background: url("../img/backgroundhome2.jpg") no-repeat center center fixed;
}

.img-home3{
  background: url("../img/backgroundhome3.jpg") no-repeat center center fixed;
}

.img-home4{
  background: url("../img/backgroundhome4.jpg") no-repeat center center fixed;
}

.img-home5{
  background: url("../img/backgroundhome5.jpg") no-repeat center center fixed;
}
.img-home6{
  background: url("../img/backgroundhome6.jpg") no-repeat center center fixed;
}
.img-home7{
  background: url("../img/backgroundhome7.jpg") no-repeat center center fixed;
}

#home-entry {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  min-height: 450px;
}

@media (min-width:414px){
    #home-entry {
      min-height: 650px;
    }
}

#home-entry:after {
    position: absolute;
    content:"";
    height:100%;
    width:100%;
    top:0;
    left:0;
    background: linear-gradient(to bottom, rgba(255,0,0,0) 0%, #242A4D 100%);
}


#home-greet{
  position: absolute;
  margin-top: 150px;
  margin-left: 10%;
  max-width: 80%;
  font-size: 3em;
  color: white;
  font-family: "Montserrat", "Helvetica Neue", helvetica, arial, sans-serif;
  font-weight: 500;
}

@media (min-width:414px) {
    #home-greet{
      position: absolute;
      margin-top: 150px;
      margin-left: 10%;
      max-width: 60%;
      font-size: 5em;
      color: white;
      font-family: "Montserrat", "Helvetica Neue", helvetica, arial, sans-serif;
      font-weight: 500;
      line-height: 1.2;
    }
}

.mapouter{
  max-width: 100%;
}
.gmap_canvas{
  max-width: 100%;
}

.wrapper {
  padding-top: 4em;
  min-height: 100%;

  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -75px;
}

#mg-graph-identifier{
  visibility: hidden;
}


.progress-bar{
  display: none;
}

.mg-timer{
  color: #58006E;
  display: none;
}
.mg-timer-red{
  color: #DA0000;
  display: none;
}
.mg-timer-red-train{
  color: #DA0000;
  display: none;
}

.mgs-note{
  text-align: justify;
  color: #b3b3b3;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 0.8em;
}

.mgs-mainblk-txt{
  text-align: justify;
  color: #3C3C3C;
  padding: 40px;
  font-size: 1.2em;
}


.mgs-questiondefinition{
  text-align: justify;
  font-size: 0.9em;
  padding-left: 15px;
  padding-right: 15px;
}

.mgs-footer{
  color: #636363;
  font-size: 0.8em;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #a8a8a8;
  margin-top: 5em;
}

.mgs-footer a{
  color: #626262;
}

.mgs-footer a:hover{
  color: var(--main-ace-color);
  text-decoration: none;
}

.mgs-footer-inbox-left {
  text-align: left;
  padding-top: 1.1em;
  padding-left: 2.8em;
}

.mgs-footer-inbox-right{
  text-align: left;
  padding-top: 1.1em;
  padding-left: 2.8em;
  padding-bottom: 2.5em;
}

@media (min-width:414px){
      .mgs-footer-inbox-left {
        text-align: left;
        padding-top: 1.5em;
        padding-left: 2.8em;
        padding-bottom: 2.5em;
      }

      .mgs-footer-inbox-right{
        text-align: right;
        padding-top: 1em;
        padding-right: 3em;
        padding-bottom: 2.5em;
      }
}

.footer {
  height: 150px;
}

.mg-raw-question{
  padding-top: 2em;
  padding-bottom: 1em;
}

.mg-raw-question-title{
  color: #B9CDDD;
  font-size: 2em;
}

.mg-raw-question-subtitle{
  font-size: 0.9em;
  padding-bottom: 3em;
}

.mg-raw-question-subtitle-color{
  color: #B4B4B4;
}

.mg-raw-question-subtitle-cat-color{
  color: #4F4F4F;
}

.mg-advert-sub-title{
    color: #B4B4B4;
    padding-bottom: 2em;
}

.mg-advert-sub-title-size{
  font-size: 1.5em;
}

.mg-home-sub-title-size{
  font-size: 1em;
}

.mg-home-sub-title{
    color: #B4B4B4;
    padding-bottom: 2em;
}

.mg-advert-text{
    font-size: 0.9em;
    padding-bottom: 1em;
    text-align: justify;
}

.mg-question-page{
  padding-bottom: 5em;
}

.mg-query-description{
  font-size: 1.2em;
  text-align: justify;
  padding-bottom: 0.3em;
}

.mg-give-up{
  padding-top: 20px;
}

.mg-icon-lg{
  font-size: 9em;
  text-align: center;
}

.mg-data-graph{
  visibility:hidden;
}

.mg-block-graph-result{
  padding-top: 50px;
}

.mg-block-certificate{
  text-align: center;
}
.mg-certificate-text-valid{
  color: #005425;
  font-size: 1em;
}
.mg-certificate-subtext-valid{
    color: #9F9F9F;
    font-size: 0.7em;
}

.mg-certificate-text-invalid{
  color: #3D3D3D;
  font-size: 1em;
}
.mg-certificate-subtext-invalid{
    color: #787878;
    font-size: 0.7em;
}

.mg-invalid-color{
  color: #787878;
}

.mg-verify-page{
  text-align: center;
}

.mg-verify-bar{
  padding-bottom: 2em;
}

.mg-verify-logo{
  padding-top: 5em;
  padding-bottom: 8em;
}

.mg-block-display-name{
  padding-top: 2em;
}
.mg-diploma-title{
  font-size: 1.2em;
}

.mg-note-display-img{
  text-align: center;
  font-size: 1.2em;
  padding-bottom: 0.4em;
}
.mg-ref-block{
  text-align: center;
}
.mg-ref-sesstitle{
  font-size: 4.4em;
  font-weight: lighter;
}
.mg-ref-sesssubtitle{
  font-size: 0.9em;
  margin-bottom: 0px;
}

/******************* MG QRCode Exampls *******************/
.mg-qrcode-example{
  text-align: center;
}

/******************* Login Details *******************/

textarea[name=inputRefName],
textarea[name=inputRef] {
  resize: none;
}

/******************* RTTIME *******************/
.mg-timer-utils{
  visibility: hidden;
}

.mg-pagename-utils{
  visibility: hidden;
}

/******************* CUSTOM CHECKBOX START *******************/
/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #33006A;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 15px;
  border: solid white;
  border-width: 0px 3px 3px 0px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/******************** CUSTOM CHECKBOX END ********************/

/******************* CUSTOM CHECKBOX RESULT START *******************/
/* Customize the label (the container) */
.container-result {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container-result input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark-result {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* When the checkbox is checked, add a blue background */
.container-result input:checked ~ .checkmark-result {
  background-color: #33006A;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark-result:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container-result input:checked ~ .checkmark-result:after {
  display: block;
}

/* Style the checkmark/indicator */
.container-result .checkmark-result:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 15px;
  border: solid white;
  border-width: 0px 3px 3px 0px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.mg-false{
  color: #950000;
}

.mg-right{
  color: #079500;
}

.mg-final-score{
  color: #542261;
  font-size: 1em;
}

.mg-final-mark{
  color: #542261;
  font-size: 9em;
}
.mg-final-mark-note{
  color: #542261;
  font-size: 3em;
}

.mg-main-color{
  color: #542261;
}

.mg-advert-note-block{
  padding-top: 7em;
}


.mg-advert-subtotal-mark{
  color: #908AA7;
  font-size: 0.7em;
}

.mg-advert-final-mark{
  font-size: 7em;
}
.mg-advert-final-mark-note{
  font-size: 2em;
}

.mg-ref-std{
  font-size: 2em;
}

/******************** CUSTOM CHECKBOX RESULT END ********************/

.nav-text {
  vertical-align: middle;
}
.nav-icon-fa{
  font-size: 24px;
}

.footer-icon-fa{
  font-size: 20px;
}

@media (min-width:414px){
    .error-img{
      max-width: 50%;
      max-height: 50%;
    }
}

.error-img{
  max-width: 100%;
  max-height: 100%;
}

.uac-img-center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.uac-img-center-full{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img-profile{
  border-radius: 50%;
}

.img-rd-sq{
  border-radius: 2%;
}

.user-title{
    font-family: "Roboto Mono";
    text-align: center;
    font-weight: lighter;
    font-size: 30px;
    margin-bottom: 40px;
    color: var(--light-ace-color);
}

.carte-profile{
    color: var(--main-ace-color);
}

.carte-profile-sec{
    color: var(--light-ace-color);
}

.mgs-ace-note{
    color: #b3b3b3;
    font-size: 0.7em;
}

.monosp-ft-title{
  text-align: center;
  margin-top: 2.5em;
}

.center{
  text-align: center;
}

.qr-one > img{
  display: inline !important;
}

#mg-profile-url{
  visibility: hidden;
}
.img-carte{
    display: none;
}

.btn-profil{
  margin-top: 25px;
  margin-bottom: 20px;
}
.ace-md{
  font-size: 20px;
}

.ace-sm{
  font-size: 14px;
}

.ace-xs{
  font-size: 12px;
}
.acbc-read{
  margin-top: 20px;
}

.mgs-readacebc{
  font-size: 1.5em;
  color: #C60000;
}
.mgs-readacebc-lg{
  font-size: 1.2em;
  color: #C60000;
}

.ass-ontime{
    font-size: 0.8em;
    color: #045000;
}

#waiting-gif{
  display: none;
}

.expl-text{
  margin-top: 60px;
  font-size: 0.9em;
  color: var(--main-ace-color);
}

.expl-title{
  margin-top: 40px;
  font-size: 2.1em;
  color: var(--light-ace-color);
  font-weight: 400;
}

.expl-bold{
  font-weight: 600;
}

/********* APPLICATION and ARRAY **********/
.pos-center{
  text-align: center;
}


.title-pc{
  font-size: 2.5em;
  margin-bottom: 1em;
  margin-top: 0.7em;
  font-family: Georgia, arial;
  color: #290064;
}

.subtitle-pc{
  font-size: 0.9em;
  padding-bottom: 1.5em;
  border-bottom: 0.5px solid gray;
  margin-bottom: 1.5em;
}

.note-det-pc{
  font-size: 1em;
  margin-top: 3em;
  margin-bottom: 0.5em;
  text-align: center;

}

.note-pc{
  font-size: 0.8em;
  margin-top: 3em;
  margin-bottom: 0.5em;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}
.price-pc{
  font-size: 1.8em;
  margin-bottom: 0.5em;
  color: var(--main-ace-color);
}

.bg-pc-gen{
  border: 12px solid white;
  margin-left: 15px;
  margin-right: 15px;
  min-height: 430px;
}

@media (min-width:414px){
  .bg-pc-gen{
    border: 7px solid white;
    margin-left: 0px;
    margin-right: 0px;
    min-height: 430px;
  }
}

.bg-pc-l1{
  background-color: #B5D8B7;
}

.bg-pc-l2{
  background-color: #93BF95;
}

.bg-pc-ab-l3{
  background-color: #C6D8EA;
}

.bg-pc-ab{
  background-color: #D0D4EC;
}

.bg-pc-ab-m1{
  background-color: #D6CDEC;
}

.bg-pc-ab-m2{
  background-color: #B6AAD5;
}


.pc-big-block{
  margin-top: 4em;
}

.bottom-text{
  font-size: 1em;
  margin-top: 1.5em;
  color: var(--main-ace-color);

}

.top-text-pc{
  font-size: 1.3em;
  margin-top: 1.5em;
  color: var(--main-ace-color);

}

.news-exb{
  padding-top: 35px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 0.7em;
  color: var(--main-gray-50);
}
/*******************/
/*********  LOADER  **********/
.err{
  color : var(--err-ace-color);
}
.report-dis{
  padding-top: 50px;
}
.report-title{
  font-size: 1.5em;
  margin-top: 1.5em;
  color: var(--main-ace-color);
}
.report-val{
  text-align: left;
  color: var(--val-ace-color);
}

/*********  EDT Display  **********/
.info-cartouche{
  font-size: 14px;
  color: var(--main-ace-color);
  margin-bottom: 25px;
}
.edt-cell-day{
  text-align: center;
  padding-top: 5px;
  height: 30px;
  border-color: #667A8C;
  border-style: solid;
  font-size: 11px;
  font-weight: 600;
}

.edt-cell{
  text-align: center;
  padding-top: 3px;
  height: 75px;
  border-color: #667A8C;
  border-style: solid;
}

.edt-cell-top{
  border-width: 1px 1px 1px 0px; /* 0px top, 1px right, 1px bottom and 0px left */
}

.edt-cell-in{
  font-size: 9px;
  border-width: 0px 1px 1px 0px; /* 0px top, 1px right, 1px bottom and 0px left */
}

.edt-cell-in-top-mid{
  font-size: 10px;
  border-width: 0px 1px 0px 0px; /* 0px top, 1px right, 1px bottom and 0px left */
}

.edt-cell-lf{
  border-width: 0px 1px 1px 1px; /* 0px top, 1px right, 1px bottom and 0px left */
}

.edt-bg-hd-b{
  background-color: #2D2E2F;
  color: white;
}

.edt-bg-bd{
  background-color: #EAF2F9;
}
.edt-bg-hr{
  background-color: #F7F1FD;
}

.edt-cell-dt{
  text-align: center;
  font-size: 0.7em;
  padding-top: 4px;
  height: 25px;
  border-color: #667A8C;
  border-style: solid;
}
.edt-bg-dt{
  background-color: #F1F7FD;
}

.edt-bg-free{
  background-color: #F8FCFF;
}
