{% include 'RawTemplate/_hearder.html.twig' %}
<div id="mg-graph-identifier">aft-loa</div>


{% if zip_results|length > 0 %}
  {# In that case we run for all file in zip #}
        {% for zip_result in zip_results %}

                {% set reportcmt = zip_result['extract_report'] %}
                {% set reportqueries = zip_result['extract_queries'] %}
                {% set sp_result = zip_result['sp_result'] %}
                {% include 'Admin/EDT/_rawafterload.html.twig' %}

        {% endfor %}
{% else %}

        {% set reportcmt = result_for_one_file['extract_report'] %}
        {% set reportqueries = result_for_one_file['extract_queries'] %}
        {% set sp_result = result_for_one_file['sp_result'] %}

        {% include 'Admin/EDT/_rawafterload.html.twig' %}

{% endif %}


{% include 'RawTemplate/_footer.html.twig' %}
