{% include 'RawTemplate/_hearder.html.twig' %}


{% include 'Admin/EDT/_rawlargescreenedt.html.twig' %}


<div class="container">
    <div class="row">
      <div class="col-lg-2 mgs-mainblk-txt">
      </div>
      <div class="col-lg-8 mgs-mainblk-txt">

        <div class="report-dis">
            {{ reportcmt | raw }}
            {{ reportqueries | raw }}

        </div>
        <br>
        <div>
          <a class="btn btn-outline-secondary btn-lg btn-block" href="/loadedt" role="button">Charger un autre fichier emploi du temps</a>
        </div>

      </div>
      <div class="col-lg-2 mgs-mainblk-txt">
      </div>
    </div>
</div>

{% include 'RawTemplate/_footer.html.twig' %}
