{% include 'RawTemplate/_hearder.w.jsgrid.html.twig' %}
{% if stats_late is defined and stats_late is not null %}
  <script>
    //let dataTagToJson = '<%= @resultSet.map{|o| Hash[o.each_pair.to_a] }.to_json %>';

    let dataTagToJsonArray =JSON.parse('{{ stats_late | json_encode | raw }}');
    // dataTagToJson = dataTagToJson.replace(/&quot;/g,"\"");
    // let dataTagToJsonArray = JSON.parse(dataTagToJson);
  </script>
{% else %}
    <script>
      let dataTagToJsonArray = "";
    </script>
{% endif %}

{% if stats_mis is defined and stats_mis is not null %}
  <script>
    //let dataTagToJson = '<%= @resultSet.map{|o| Hash[o.each_pair.to_a] }.to_json %>';

    let dataTagToJsonArrayMis =JSON.parse('{{ stats_mis | json_encode | raw }}');
    // dataTagToJson = dataTagToJson.replace(/&quot;/g,"\"");
    // let dataTagToJsonArray = JSON.parse(dataTagToJson);
  </script>
{% else %}
    <script>
      let dataTagToJsonArrayMis = "";
    </script>
{% endif %}

{% if stats_mis_pp is defined and stats_mis_pp is not null %}
  <script>
    //let dataTagToJson = '<%= @resultSet.map{|o| Hash[o.each_pair.to_a] }.to_json %>';

    let dataTagToJsonArrayMisPP =JSON.parse('{{ stats_mis_pp | json_encode | raw }}');
    // dataTagToJson = dataTagToJson.replace(/&quot;/g,"\"");
    // let dataTagToJsonArray = JSON.parse(dataTagToJson);
  </script>
{% else %}
    <script>
      let dataTagToJsonArrayMisPP = "";
    </script>
{% endif %}

<div id="mg-graph-identifier">dash-ass</div>

<div class="row">
  <div class="col-1">
  </div>
  <div class="col-5">
    <h2>Proportion retard</h2>
    <hr>
    <canvas id="statPieLate"></canvas>
  </div>
  <div class="col-5">
    <h2>Nombre retard</h2>
    <hr>
    <canvas id="statBarLate"></canvas>
  </div>
  <div class="col-1">
  </div>
</div>
<br><br>
<div class="row">
  <div class="col-1">
  </div>
  <div class="col-6">
    <h2>Absence par quartier</h2>
    <hr>
    <canvas id="statBarMis"></canvas>
  </div>
  <div class="col-4">
    <h2>Top 100 des absences</h2>
    <hr>
    <div id="jsGrid">
    </div>
  </div>
  <div class="col-1">
  </div>
</div>



{% include 'RawTemplate/_footer.w.jsgrid.mgchart.html.twig' %}
