{% include 'RawTemplate/_hearder.html.twig' %}

<div class="row">
  <div class="col-lg-3 mgs-mainblk-txt">
  </div>
  <div class="col-lg-6 mgs-mainblk-txt">
    <h1>Emploi du Temps</h1>

    <div id="blk-selfie" class="mgs-mainblk-txt">
          <img id="selfie" src="{{ path('main') }}img/mid_img370x850.png" style="width:490px; height:220px; opacity: 1;" title="cloud folder" alt="cloud folder" class="uac-img-center">
    </div>
    <hr>
    Chargez les emplois du temps de la semaine&nbsp;<span class="icon-upload nav-icon-fa nav-text"></span><br><br>
    <div>
        <form action="upload.php" method="post" enctype="multipart/form-data">
          Choisissez un fichier en .csv &nbsp;
          <input type="file" name="fileToUpload" id="fileToUpload"><br><br>

          <input type="submit" value="Uploader le fichier" name="submit" class="btn btn-default btn-lg btn-print btn-block">
        </form>
    </div>
    <br>
    Le fichier que vous chargez doit absolument être en .csv ou en .zip<br>
    Le fichier .zip ne peut contenir que des fichiers .csv au format xxxx.csv sinon il sera rejeté par le site.
  </div>
  <div class="col-lg-3 mgs-mainblk-txt">
  </div>
</div>

{% include 'RawTemplate/_footer.html.twig' %}
