{% include 'RawTemplate/_hearder.w.jsgrid.html.twig' %}
{% if all_edt is defined and all_edt is not null %}
  <script>
    //let dataTagToJson = '<%= @resultSet.map{|o| Hash[o.each_pair.to_a] }.to_json %>';

    let dataAllEDTToJsonArray =JSON.parse('{{ all_edt | json_encode | raw }}');
    // We init here the filter value
		var filteredDataAllEDTToJsonArray = Array.from(dataAllEDTToJsonArray);
    // dataTagToJson = dataTagToJson.replace(/&quot;/g,"\"");
    // let dataTagToJsonArray = JSON.parse(dataTagToJson);
  </script>
{% else %}
    // Error
    <script>
      let dataAllEDTToJsonArray = "";
    </script>
{% endif %}


<div id="mg-graph-identifier">man-edt</div>

<div class="row">
  <div class="col-1">
  </div>
  <div class="col-10">
    <h2>Manager EDT</h2>
    <hr>
  </div>
  <div class="col-1">
  </div>
</div>
<div class="row dash-bar">
  <div class="col-1">
  </div>

  <div class="col-2 fil-el">
    <textarea class="form-control" rows="1" id="filter-all-edt" placeholder="Filtrez min. 2 caractères" style="resize: none;"></textarea>
  </div>
  <div class="col-1 fil-el">
    <button id="re-init-dash-edt" type="button" class="btn btn-md btn-block btn-default">
      <i class="icon-refresh"></i>
    </button>
  </div>

  <div class="col-7">
  </div>

  <div class="col-1">
  </div>
</div>
<div class="row">
  <div class="col-1">
  </div>
  <div class="col-10">
    <div id="jsGridAllEDT">
    </div>
  </div>
  <div class="col-1">
  </div>
</div>

<div class="ace-hidden-goto">
    <div class="row">
      <div class="col-lg-3">
    	</div>
      <div class="col-lg-6">
          <form action="/showedt" method="post" id="mg-master-id-form">
            <input type="submit" name="formSubmit" class="btn btn-default btn-lg btn-block" id="mg-check-step-btn"
                    value="Voir EDT"/>

            <textarea class="form-control step-hid" rows="1" id="read-master-id" name="postmaster_id" placeholder="code barre id" style="resize: none;"></textarea>
          </form>
      </div>
      <div class="col-lg-3">
      </div>
    </div>
</div>




{% include 'RawTemplate/_footer.w.jsgrid.mgchart.html.twig' %}
