{% include 'RawTemplate/_hearder.w.jsgrid.html.twig' %}
{% if all_edt is defined and all_edt is not null %}
  <script>
    //let dataTagToJson = '<%= @resultSet.map{|o| Hash[o.each_pair.to_a] }.to_json %>';

    let dataAllEDTToJsonArray =JSON.parse('{{ all_edt | json_encode | raw }}');
    // We init here the filter value
		let filteredDataAllEDTToJsonArray = Array.from(dataAllEDTToJsonArray);


    let textS0ToJsonArray = JSON.parse('{{ result_text_s0 | json_encode | raw }}');
    let textS1ToJsonArray = JSON.parse('{{ result_text_s1 | json_encode | raw }}');
    let textDToJsonArray = JSON.parse('{{ result_text_d | json_encode | raw }}');
    const dashRapMsg = 'Pour rappel, vous pouvez toujours retrouver vos emplois du temps en temps réel sur votre dashboard.<br>';

    let textS0 = '';
    let textS1 = '';
    let textD = '';
    // dataTagToJson = dataTagToJson.replace(/&quot;/g,"\"");
    // let dataTagToJsonArray = JSON.parse(dataTagToJson);
  </script>
{% else %}
    // Error
    <script>
      let dataAllEDTToJsonArray = "";
    </script>
{% endif %}


<div id="mg-graph-identifier">man-edt</div>

<div class="row">
  <div class="col-1">
  </div>
  <div class="col-10">
    <h2>Manager EDT</h2>
    <hr>
  </div>
  <div class="col-1">
  </div>
</div>
<div class="row dash-bar">
  <div class="col-1">
  </div>

  <div class="col-2 fil-el">
    <textarea class="form-control" rows="1" id="filter-all-edt" placeholder="Filtrez min. 2 caractères" style="resize: none;"></textarea>
  </div>
  <div class="col-1 fil-el">
    <button id="re-init-dash-edt" type="button" class="btn btn-md btn-block btn-default">
      <i class="icon-refresh"></i>
    </button>
  </div>
  <div class="col-3">
    <button onclick="copyEDTS0()" class="btn btn-outline-dark btn-md btn-blk-export">S0 &nbsp;<i class="icon-file-text-o nav-text"></i></button>
    <button onclick="copyEDTS1()" class="btn btn-outline-dark btn-md btn-blk-export">S1 &nbsp;<i class="icon-file-text-o nav-text"></i></button>
    <button onclick="copyEDTD()" class="btn btn-outline-dark btn-md btn-blk-export">J &nbsp;<i class="icon-file-text-o nav-text"></i></button>
  </div>


  <div class="col-4">
  </div>

  <div class="col-1">
  </div>
</div>
<div class="row">
  <div class="col-1">
  </div>
  <div class="col-10">
    <div id="jsGridAllEDT">
    </div>
  </div>
  <div class="col-1">
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="copy-paste-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <i id='title-copy-paste'></i>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id='copy-paste-txt'>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>



{# This is the post Goto #}
{% include 'Admin/EDT/_rawmanagerEDTGoToPost.html.twig' %}
{% include 'RawTemplate/_footer.w.jsgrid.mgchart.html.twig' %}
