<div class="container">
  <div class="row">
    <div class="col-2">
    </div>
    <div class="col-8">
        <div class="carte-profile pr-title"><span class="icon-calendar nav-icon-fa nav-text"></span>&nbsp;Emploi du temps</div><br>
        <div class="info-cartouche">
          <strong>Date du Lundi:</strong> {{ sp_result[0]['mondayw'] }}<br>
          <span class="icon-coffee nav-text"></span>&nbsp;Désolé ! L'emploi du temps pour cette semaine n'a pas encore été chargé.<br>
          Si vous pensez qu'il s'agit d'une erreur, n'hésitez pas à nous contacter.
        </div>
    </div>
    <div class="col-2">
    </div>
  </div>
</div>
