{% include 'RawTemplate/_hearder.w.jsgrid.html.twig' %}

{% if sp_result|length > 1 %}

<br>
<div class="row">
  <div class="col-1">
  </div>
  <div class="col-2">
      <a class="btn btn-outline-dark btn-sm btn-block" href="/manageredt" role="button"><span class="icon-arrow-left nav-text"></span>&nbsp;<span class="icon-calendar nav-text"></span>&nbsp;Manager EDT</a>
  </div>
  <div class="col-9">
  </div>
</div>

      {% include 'Admin/EDT/edtheader.html.twig' %}





      <div class='uac-lg-version'>
          {% include 'Admin/EDT/_rawlargescreenedt.html.twig' %}
      </div>

{% else %}

      {% include 'Admin/EDT/missingmsgedt.html.twig' %}

{% endif %}

{% include 'RawTemplate/_footer.w.jsgrid.html.twig' %}
