<!DOCTYPE html>
<html>
    <head>
        <title>Votre carte d'étudiant viruelle est disponible !</title>
    </head>
    <body>
        <h1>Votre carte d'étudiant viruelle est disponible !</h1>

        Nous sommes très heureux de vous avoir parmi nous.<br>
        Voici la liste des informations vous concernant :<br><br>
        Voici votre carte d'étudiant virtuelle : <a href="{{ cartezp }}">Voir ma carte virtuelle</a><br>
        Sinon vous pouvez copier coller ce lien dans l'URL de votre navigateur : {{ cartezp }}<br>
        Voici le lien vers votre dashboard <a href="{{ dashboard }}">Voir mon dashboard</a><br>
        Sinon vous pouvez copier coller ce lien dans l'URL de votre navigateur : {{ dashboard }}<br>
        Vous y trouverez des informations utiles comme vos lignes de présence et votre emploi du temps.<br><br>
        Bonne rentrée !<br>

        L'équipe digitalisation.<br>


    </body>
</html>
