{% include 'RawTemplate/_hearder.html.twig' %}

<div class="row">
  <div class="col-lg-3 mgs-mainblk-txt">
  </div>
  <div class="col-lg-6 mgs-mainblk-txt">
    <img src="{{ path('main') }}img/help/helplmd1.jpg" style="width:400px;"
                            title="Help lmd 1" alt="Help lmd 1" class="uac-img-center error-img">
    <br><br><br>
    <h1>Aide sur le système LMD</h1>
    <div class="mgs-ace-note">
        Dans le cadre de la digitalisation, l'université vous indique quelques règles du système LMD
    </div>
    <div class="blk-main-help">
        <h2>Les Unités d’Enseignements ou UE</h2>
        L’Unité d’Enseignement (UE) est une base du dispositif international Licence Master Doctorat ou LMD dans lequel est engagé l'Université ACEEM. En effet, toutes les études sont organisées en Unités d’Enseignement.<br>
        Il existe différentes catégories d’UE.<br>
        <ul>
            <li>UE Fondamentales.</li>
            <li>UE Complémentaire et/ou Transversale qui complète les UE fondamentales.</li>
        </ul>
        Les UE sont capitalisables puisque toute validation d’UE est acquise quelle que soit la durée du parcours.<br>
    </div>
    <div class="blk-main-help">
        <h2>Les Eléments Constitutifs ou EC</h2>
        Chaque contenu d’une UE est appelé Elément Constitutif (EC). l'Élément Constitutif (EC) de l’UE appelé aussi matière ou composante de l’UE.<br>
    </div>
    <div class="blk-main-help">
        <h2>Les crédits</h2>
        Un crédit est une unité de mesure, une unité de compte, exprimant la valeur donnée à une Unité d’Enseignement (UE) ou à un Elément Constitutif (EC).
         Il faut acquérir 180 Crédits répartis comme suit : 60 Crédits à l’issue du niveau L1, 60 Crédits à l’issu du niveau L2, 60 crédits à l’issue du niveau L3. 
         <br><br>
         Pour valider le niveau L1 et accéder au niveau L2, il faut valider les deux semestres y afférents (« Semestre 1 » donnant droit à 30 crédits, et « semestre 2 » donnant droit à 30 Crédit). 
         Pour valider le niveau L2 et accéder au niveau L3, il faut valider les deux semestres y afférents (« Semestre 3 » donnant droit à 30 crédits, et « semestre 4 » donnant droit à 30 Crédit).<br>
        
        Pour valider le niveau L3 et obtenir le diplôme de Licence, il faut valider les deux semestres y afférents (« Semestre 5 » donnant droit à 30 crédits, et « semestre 6  » donnant droit à 30 Crédit).
    </div>
    <hr>
    <div class="blk-main-help">
        <h2>Pour valider les UE</h2>
        L’Unité d’Enseignement (UE) est une base du dispositif LMD. En effet, toutes les études sont organisées en Unités d’Enseignement.<br>
        Il existe des différentes catégories d’UE.<br>
        <ul>
            <li><strong>Cas 1</strong> : chaque EC composant l’UE doit avoir une moyenne supérieure ou égale à 10, EC Validé (V) donc l’UE est acquise.</li>
            <li><strong>Cas 2</strong> : Si une UE obtient une moyenne supérieure ou égale à 10, avec des EC supérieur ou égale à 7, alors elle est validé par compensations donc l’UE est acquise.</li>
            <li><strong>Cas 3</strong> : S’il y a une seule UE dont la moyenne est inférieure à 10 ou contenant un EC inférieur à 7, l’UE n’est pas acquise. </li>
        </ul>
        Aucune inscription en L3 ne peut être autorisée à l’étudiant, s’il n’a pas validé tous les EC de L1 et L2.<br>
    </div>

    <br><br>
    <img src="{{ path('main') }}img/help/helplmd3.jpg" style="width:400px;"
                            title="Help lmd 1" alt="Help lmd 1" class="uac-img-center error-img">
    <div class="blk-main-help">
    <br><br>
        <h2>Délibération du jury</h2>
        Le jury reste souverain jusqu'à la délibération sur la note finale. Il décide en fonction des appréciations des différents membres et toujours dans l'intérêt de l'étudiant.<br>
    </div>

  </div>
  <div class="col-lg-3 mgs-mainblk-txt">
  </div>
</div>

{% include 'RawTemplate/_footer.html.twig' %}
