{% include 'RawTemplate/_hearder.html.twig' %}

<div class="row">
  <div class="col-lg-3 mgs-mainblk-txt">
  </div>
  <div class="col-lg-6 mgs-mainblk-txt">
    <img src="{{ path('main') }}img/help/banner_pay.png"
                  title="BannerPay" alt="Banner Pay Image" class="full-banner-img">
    <h1>Tutoriel frais de scolarité</h1>
    <div class="mgs-ace-note">
        Dans le cadre de la digitalisation, l'université se dote d'un module de frais de scolarité. Cette page contient des informations utiles pour vous aider dans cette transformation.
    </div>
    <div class="blk-main-help">
        <h2>Principes de base</h2>
        <ul>
            <li>La caisse est votre point de contact privilégiée pour tout paiement.</li>
            <li>Vous devez venir avec votre <strong>carte d'étudiant code barre</strong></li>
            <ul>
                <li>Cela facilitera votre identification</li>
                <li>Votre matricule n'est pas utilisée, il faut votre username</li>
            </ul>
            <li>Une fois que votre paiement est effectué, vous devez le constater sur votre dashboard étudiant</li>
            <ul>
                <li>Votre dashboard vous sert de reçu</li>
                <li>Il vous indique votre historique de paiement et votre reste à payer ainsi que les dates limites</li>
            </ul>
            <li>Les paiements à distance peuvent se faire via Mvola</li>
        </ul>
    </div>
    <div class="blk-main-help help-txt">
        <h2>Les paiements à la caisse</h2>
        <img src="{{ path('main') }}img/help/banner_scan.png"
                  title="BannerPay" alt="Banner Pay Image" class="full-banner-img">
        Les paiements à la caisse sont de deux types : cash (espèce, liquide) ou par chèque. Les étapes pour faire le paiement sont très simples :
        <ul>
            <li>L'étudiant se déplace à la caisse de l'Université avec sa carte code barre et le montant à payer.</li>
            <li>Sa carte est scannée, son identification est immédiate.</li>
            <li>L'étudiant indique le paiement qu'il veut effectuer (frais fixe, tranche, certificat de scolarité etc.)</li>
            <li>L'agent de caisse vérifie le montant reçu et le type de paiement.</li>
            <li>L'agent de caisse enregistre le paiement.</li>
            <li>Le paiement est visible immédiatement sur le dashboard étudiant. Cela lui sert de reçu.</li>
        </ul>
    </div>
    <div class="blk-main-help help-txt">
        <h2>Les autres moyens de paiement</h2>
        <h3>La particularité Mvola</h3>
        Si vous payez vos frais par Mvola, le système va ponctionner automatiquement les frais de retrait additionnel Mvola. 
        Prenons un exemple : vous devez payer une tranche de 500 000 Ar et le montant des frais de retrait Mvola est 10 000 Ar (le prix des frais actualisé est affiché dans votre dashboard).<br>
        Vous allez envoyer 500 000 Ar + 10 000 Ar + (frais d'envoi si vous envoyez depuis un téléphone). Le téléphone de l'ACEEM se verra créditer de 510 000 Ar et retirera automatiquement les frais de retrait additionnel. Dans ce cas, le système considère que vous vous êtes acquité de votre paiement de tranche.
        Si par contre vous n'envoyez que 500 000 Ar, le système retirera les 10 000 Ar et vous n'aurez payé que 490 000 Ar de votre tranche. Il restera 10 000 Ar à régler de la manière que vous souhaitez.<br>
        Si vous voulez éviter de payer les frais additionnels, nous vous prions de privilégier le cash ou le chèque.
        <br><br>
        <ul>
            <li>Les paiements Mvola ne sont pas traités immediatement</li>
            <li>Sur votre dashboard est indiqué la date du dernier chargement Mvola. Si votre paiement Mvola a été fait après c'est qu'il n'a pas encore été traité. Si votre paiement a été fait avant, veuillez vous rapprocher de la caisse pour investigation</li>
        </ul>

        <h3>La particularité virement bancaire</h3>
        Cette méthode n'est pas privilégiée. Tout simplement parce que le compte bancaire n'est pas surveillé automatiquement. Si toutefois, vous deviez utiliser ce moyen, dès que vous avez l'information que les fonds sont disponibles sur le compte destinataire, vous devez vous rendre en caisse ACEEM pour faire constater le virement et ils procéderont à l'enregistrement du paiement.
    </div>
    <hr>
    <div class="blk-main-help">
        <h2><span class="icon-lightbulb-o nav-text"></span>&nbsp;Nouveautés dashboard étudiant</h2>
        <img src="{{ path('main') }}img/help/dashboard_fds_1.png"
                  title="BannerPay" alt="Banner Pay Image" class="md-banner-img">
        En #1, vous voyez le recapitulatif de vos tranches. On y affiche les dates limites et le montant qu'il vous reste à régler.
        <img src="{{ path('main') }}img/help/dashboard_fds_2.png"
                  title="BannerPay" alt="Banner Pay Image" class="md-banner-img">
        En #2, vous voyez l'historique de vos frais fixes. En #3 vous avez affiché les paiements de tranches. Par exemple, si vous payez la tranche 1 en plusieurs paiements différents, ils apparaissent tous ici.
        <br> Notez que les frais additionnels Mvola sont affichés en gras.
    </div>
    <hr>
    <div class="blk-main-help">
        <h2><span class="icon-chain-broken nav-text"></span>&nbsp;Problèmes connus</h2>
        Les problèmes connus qui peuvent survenir sont malheureusement : un délestage ou une panne internet du fournisseur fibre. Si un de ces problèmes devait se produire, malheureusement l'étudiant est obligé de repasser plus tard ou le lendemain à la caisse pour effectuer son paiement.
    </div>
  </div>
  <div class="col-lg-3 mgs-mainblk-txt">
  </div>
</div>

{% include 'RawTemplate/_footer.html.twig' %}
