{% include 'RawTemplate/_hearder.html.twig' %}

<div class="row">
  <div class="col-lg-3 mgs-mainblk-txt">
  </div>
  <div class="col-lg-6 mgs-mainblk-txt">
    <h1>Commençons</h1>
    <br><br><br>
    <h2>Username</h2>
    Vous disposez d'un username qui vous a été transmis par email. C'est un login de 10 alphanumériques comme RADORAK930, il est confidentiel et il ne doit pas être partagé.

    <br><br><br>
    <h2>La carte virtuelle</h2>
    Vous disposez également d'une carte d'étudiant virtuelle disponible sous une url de la forme : https://www.uaceem.com/cartezp/xxxxxxx
    Cette url est personnelle et elle vous a été transmise par email également.
    Votre carte d'étudiant virtuelle contient un code barre 1D qui va servir à scanner vos entrées et sorties de l'UACEEM pour ainsi calculer votre assiduité.

    <br><br><br>
    <h2>Le dashboard étudiant</h2>
    Vous disposez également d'une carte d'étudiant virtuelle disponible sous une url de la forme : https://www.uaceem.com/profile/xxxxxxx
    Cette url est personnelle et elle vous a été transmise par email également. Ce lien va vous permettre de voir votre assiduité, vos emplois du temps et d'autres informations utiles.

  </div>
  <div class="col-lg-3 mgs-mainblk-txt">
  </div>
</div>

{% include 'RawTemplate/_footer.html.twig' %}
