<div class="ace-hidden-goto">
    <div class="row">
      <div class="col-lg-3">
    	</div>
      <div class="col-lg-6">
          <form action="/cancelexam" method="post" id="mg-cancel-form">
            <input type="submit" name="formSubmit" class="btn btn-default btn-lg btn-block" id="mg-check-step-btn"
                    value="cancel EXAM"/>

            <input type="text" class="input-gra" name="fExamDate" id="fExamDate" value="">
            <input type="text" class="input-gra" name="fNiveau" id="fNiveau" value="">
            <input type="text" class="input-gra" name="fSubject" id="fSubject" value="">
            <input type="text" class="input-gra" name="fMention" id="fMention" value="">
            <input type="text" class="input-gra" name="fCustTeacherName" id="fCustTeacherName" value="">
            <input type="text" class="input-gra" name="fCredit" id="fCredit" value="">

            <textarea class="form-control step-hid" rows="1" id="can-master-id" name="can-master-id" placeholder="master id" style="resize: none;"></textarea>
          </form>
      </div>
      <div class="col-lg-3">
      </div>
    </div>
</div>