<!-- Modal -->
<div class="modal fade" id="delete-subj-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <strong>Supprimer sujet</strong>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id='confirmation-txt-blk'>
      </div>
        <br>
        <div id='gra-del-btn-blk'>
            <button onclick="generateGRADelSubject()" id='btn-del-sbj' class="btn btn-lg btn-default btn-block">Supprimer</button>
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>