{% include 'RawTemplate/_hearder.html.twig' %}
<div id="mg-graph-identifier">aft-gra</div>

<div class="row">
  <div class="col-lg-3">
  </div>
  <div class="col-lg-6">
        {{ full_error_msg | raw }}
        <hr>
        {{ full_feedback_msg | raw }}
  </div>
  <div class="col-lg-3">
  </div>
</div>

<div class="row button-bottom">
  <div class="col-lg-3">
  </div>
  <div class="col-lg-6">
    <a class="btn btn-outline-dark btn-lg btn-print btn-block" href="/loadgrascan" role="button"><span class="icon-times nav-icon-fa nav-text"></span>&nbsp;Retour</a>
  </div>
  <div class="col-lg-3">
  </div>
</div>

{% include 'RawTemplate/_footer.html.twig' %}