{% include 'RawTemplate/_hearder.html.twig' %}
<div id="mg-graph-identifier">aft-gra</div>

<div class="row">
  <div class="col-lg-2">
  </div>
  <div class="col-lg-8">
  </div>
  <div class="col-lg-2">
  </div>
</div>

<div class="row button-bottom">
  <div class="col-lg-2">
  </div>
  <div class="col-lg-2">
    <a class="btn btn-secondary btn-lg btn-print btn-block" href="/loadgrascan" role="button"><span class="icon-files nav-icon-fa nav-text"></span>&nbsp;Retour</a>
  </div>
  <div class="col-lg-6">
  </div>
  <div class="col-lg-2">
  </div>
</div>

{% include 'RawTemplate/_footer.html.twig' %}