{% include 'RawTemplate/_hearder.html.twig' %}
<div id="mg-graph-identifier">aft-loagra</div>

<div class="row">
  <div class="col-lg-3">
  </div>
  <div class="col-lg-6">
        
        {{ result_operation | raw }}
        {{ full_error_msg | raw }}
        <hr>
        {{ full_feedback_msg | raw }}
  </div>
  <div class="col-lg-3">
  </div>
</div>


{% if success_operation == 'Y' %}
      <div class="row button-bottom">
        <div class="col-lg-2">
        </div>
        <div class="col-lg-3">
          <a class="btn btn-outline-dark btn-lg btn-print btn-block" href="/loadgrascan" role="button"><span class="icon-clipboard nav-icon-fa nav-text"></span>&nbsp;Charger d'autres examens</a>
        </div>
        <div class="col-lg-2">
          <a class="btn btn-outline-dark btn-lg btn-print btn-block" href="/managergraexam" role="button"><span class="icon-suitcase nav-icon-fa nav-text"></span>&nbsp;Aller au manager</a>
        </div>
        <div class="col-lg-3">
          <button onclick="goToEXAMFromGraMngr({{ master_id }});" class="btn btn-dark btn-lg btn-print btn-block"><span class="icon-gavel nav-icon-fa nav-text"></span>&nbsp;Saisir notes</button>
        </div>
        <div class="col-lg-2">
        </div>
      </div>
{% else %}
<div class="row button-bottom">
        <div class="col-lg-3">
        </div>
        <div class="col-lg-6">
          <a class="btn btn-outline-dark btn-lg btn-print btn-block" href="/loadgrascan" role="button"><span class="icon-times nav-icon-fa nav-text"></span>&nbsp;Re-essayer</a>
        </div>
        <div class="col-lg-3">
        </div>
      </div>
{% endif %}


{% include 'Admin/GRA/_gotoexamfrommng.html.twig' %}
{% include 'RawTemplate/SPE/_footer.w.graman.jsgrid.mgchart.html.twig' %}