{% include 'RawTemplate/_hearder.w.jsgrid.html.twig' %}
{% if result_all_ugm is defined and result_all_ugm is not null %}
  <script>
    //let dataTagToJson = '<%= @resultSet.map{|o| Hash[o.each_pair.to_a] }.to_json %>';

    let dataAllExamToJsonArray = JSON.parse('{{ result_all_ugm | json_encode | raw }}');
    // We init here the filter value
	  let filtereddataAllExamToJsonArray = Array.from(dataAllExamToJsonArray);

    let confirmCancelId = {{ confirm_cancel_id }};

    const MAX_STR_L1 = 45;
    const MAX_STR_L2 = 30;
    const MAX_STR_L3 = 30;
    // dataTagToJson = dataTagToJson.replace(/&quot;/g,"\"");
    // let dataTagToJsonArray = JSON.parse(dataTagToJson);
  </script>
{% else %}
    // Error
    <script>
      let dataAllPAYToJsonArray = "";
    </script>
{% endif %}


<div id="mg-graph-identifier">man-exa</div>

<div class="row">
  <div class="col-1">
  </div>
  <div class="col-10">
    <h2>Manager Examen</h2>
    Les différentes étapes sont 
        <i class="uac-step uac-step-purple">Nouveau</i> &nbsp;<i class="icon-chevron-circle-right nav-text"></i>&nbsp; <i class="uac-step uac-step-purple">Chargé</i> &nbsp;
        <i class="icon-chevron-circle-right nav-text"></i>&nbsp; <i class="uac-step uac-step-purple">Saisie</i> &nbsp;<i class="icon-chevron-circle-right nav-text"></i>&nbsp; 
        <i class="uac-step uac-step-purple">Revue</i> &nbsp;<i class="icon-chevron-circle-right nav-text"></i>&nbsp; <i class="uac-step uac-step-purple">Terminé</i>
    <div class="mgs-note-banner">
      Nombre d'examen(s) : <i id='count-exam'>{{ result_all_ugm|length }}</i> sur {{ result_all_ugm|length }}.
    </div>
    <hr>
  </div>
  <div class="col-1">
  </div>
</div>
<div class="row dash-bar">
  <div class="col-1">
  </div>
  <div class="col-2 fil-el">
    <textarea class="form-control" rows="1" id="filter-all-exa" placeholder="Filtrez min. 2 caractères" style="resize: none;"></textarea>
  </div>
  <div class="col-1 fil-el">
    <button id="re-init-dash-exa" type="button" class="btn btn-md btn-block btn-default">
      <i class="icon-refresh"></i>
    </button>
  </div>
  <div class="col-1">
    
    <button onclick="generateAllExamCSV()" class="btn btn-dark"><i class="icon-file-text-o"></i>&nbsp;Rapport</button>
    
  </div>
  <div class="col-3">

  </div>


  <div class="col-3">
  </div>

  <div class="col-1">
  </div>
</div>
<div class="row">
  <div class="col-1">
  </div>
  <div class="col-10">
    <div id="jsGridAllExam">
    </div>
  </div>
  <div class="col-1">
  </div>
</div>


{# Necessary go to student profile #}
{% include 'Admin/GRA/_gotoexamfrommng.html.twig' %}
{% include 'Admin/GRA/_gotocanfrommng.html.twig' %}
{% include 'RawTemplate/SPE/_footer.w.graman.jsgrid.mgchart.html.twig' %}
