{% include 'RawTemplate/_hearder.w.jsgrid.html.twig' %}
{% if result_query_all_primitif_level is defined and result_query_all_primitif_level is not null %}
  <script>
    //let dataTagToJson = '<%= @resultSet.map{|o| Hash[o.each_pair.to_a] }.to_json %>';

    let dataAllPrimitifToJsonArray = JSON.parse('{{ result_query_all_primitif_level | json_encode | raw }}');
    // We init here the filter value
	let filtereddataAllPrimitifToJsonArray = Array.from(dataAllPrimitifToJsonArray);

    let dataAllSubjectToJsonArray = JSON.parse('{{ result_query_all_subject | json_encode | raw }}');
    // We init here the filter value
	let filtereddataAllSubjectToJsonArray = Array.from(dataAllSubjectToJsonArray);

    // dataTagToJson = dataTagToJson.replace(/&quot;/g,"\"");
    // let dataTagToJsonArray = JSON.parse(dataTagToJson);
  </script>
{% else %}
    // Error LoadFile
    <script>
      let dataAllPrimitifToJsonArray = "";
    </script>
{% endif %}


<div id="mg-graph-identifier">man-pri</div>

<div class="row">
  <div class="col-1">
  </div>
  <div class="col-10">
    <h1>Manager primitif</h1>
    
    <hr>
  </div>
  <div class="col-1">
  </div>
</div>
<div class="row dash-bar">
  <div class="col-1">
  </div>
  <div class="col-2 fil-el">
    <h3>Note<h3>
    <textarea class="form-control" rows="1" id="filter-all-niv" placeholder="Filtrez min. 2 caractères" style="resize: none;"></textarea>
  </div>
  <div class="col-1 fil-el">
    <h3>&nbsp;<h3>
    <button id="re-init-dash-niv" type="button" class="btn btn-md btn-block btn-dark">
      <i class="icon-refresh"></i>
    </button>
  </div>
  <div class="col-1">
  </div>

  <div class="col-2 fil-el">
    <h3>Sujet<h3>
    <textarea class="form-control" rows="1" id="filter-all-sub" placeholder="Filtrez min. 2 caractères" style="resize: none;"></textarea>
  </div>
  <div class="col-1 fil-el">
    <h3>&nbsp;<h3>
    <button id="re-init-dash-sub" type="button" class="btn btn-md btn-block btn-default">
      <i class="icon-refresh"></i>
    </button>
  </div>
  <div class="col-2 fil-el">
    <h3>&nbsp;<h3>
    <button id="gra-new-sub" type="button" onclick="createNewGRASubject()" class="btn btn-md btn-block btn-outline-dark">
      <i class="icon-files"></i>&nbsp;Nouveau sujet
    </button>
  </div>

  <div class="col-1">
  </div>

  <div class="col-1">
  </div>
</div>
<div class="row">
  <div class="col-1">
  </div>
  <div class="col-4">
    <div class="mgs-note-banner">
      Nombre de niveau(x) : <i id='count-niv'>X</i> sur {{ result_query_all_primitif_level|length }}.
    </div>
    <div id="jsGridAllNiv">
    </div>
  </div>
  <div class="col-6">
    <div class="mgs-note-banner">
      Nombre de sujet(s) : <i id='count-sub'>X</i> sur {{ result_query_all_subject|length }}.
    </div>
    <div id="jsGridAllSub">
    </div>
  </div>
  <div class="col-1">
  </div>
</div>


{# Necessary go to student profile #}
{% include 'Admin/GRA/_gotoprimitifline.html.twig' %}
{% include 'RawTemplate/SPE/_footer.w.grapriman.jsgrid.mgchart.html.twig' %}
