<div class="ace-hidden-goto">
    <div class="row">
      <div class="col-lg-3">
    	</div>
      <div class="col-lg-6">
          <form action="/confirmcanceljust" method="post" id="mg-confirm-cancel-id-form">
            <input type="submit" name="formSubmit" class="btn btn-default btn-lg btn-block" id="mg-check-step-btn"
                    value="Confirm cancel JUST"/>

            <textarea class="form-control step-hid" rows="1" id="confirm-cancel-id" name="confirm-cancel-id" placeholder="master id" style="resize: none;"></textarea>
          </form>
      </div>
      <div class="col-lg-3">
      </div>
    </div>
</div>