<!-- Modal -->
<div class="modal fade" id="pay-details-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <strong>Nouveau justificatif</strong>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class='popup-box-details'>
            <i class="icon-files"></i>&nbsp;Détails Paiement
            <br><br>
            <div id='pay-details-txt'>
            </div>
            <hr>
            <i class="icon-mvola"></i>&nbsp;Détails Mvola
            <br><br>
            <div id='pay-mvo-txt'>
            </div>
            <hr>
            <i class="icon-scissors"></i>&nbsp;Détails Réduction
            <br><br>
            <div id='pay-red-txt'>
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>
