<!-- Modal -->
<div class="modal fade" id="pay-add-just-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="max-width: 70%;" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <strong>Nouveau justificatif</strong>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="add-just-blk" class='popup-box-details'>
            <div class="row">
                <div id="disp-just-ticket" class="col-6 mgs-mainblk-txt">

                    <div id="pay-sc-log" class="blk-log-pay">
                    <i class="icon-arrow-down nav-text"></i>&nbsp;Ticket&nbsp;<i id="sh-ticketref"></i>
                    <div id="pay-sc-log-tra" class="just-sc-log-tra-txt">
                    </div>
                    </div>
                </div>
                <div id="fill-just-ticket" class="col-6">
                    <div class="menu-dropdown">
                        <div class="dropdown btn-ace-menu">
                            <button class="btn btn-outline-dark dropdown-toggle" type="button" id="dropdownCategory" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i id="drp-select">Catégorie</i>
                            </button>
                            <div id="dpcategory-opt" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            </div>
                        </div>
                    </div>
                    <div id="cat-det">
                    </div>
                    <hr>
                    <div id="subj-crd-blk">
                        Entrez le montant en ariary (min. 100 Ar) :
                        <div id="othg-gra" class="othg-blk-det">
                            <textarea id="amt-just-input" rows="1" cols="16" class="othg-txta ok-txtar" onkeyup="validateAmountJust()"></textarea>
                        </div>
                    </div>
                    <div class="menu-dropdown">
                        <div id='modal-crs-status'>
                          Type justifié :<br>
                          <div id="crs-status" class="btn-group" role="group" aria-label="Status">
                            <button id="stt-c" type="button" value="C" class="btn btn-outline-secondary stt-group active"><i class="icon-money nav-text"></i>&nbsp;Cash</button>
                            <button id="stt-h" type="button" value="H" class="btn btn-outline-secondary stt-group"><i class="icon-pencil-square-o nav-text"></i>&nbsp;Chèque</button>
                          </div>
                        </div>
                    </div>
                    <hr>
                    <i class="icon-quote-right"></i>&nbsp;Commentaire
                    <br>
                    <div id='pro-details-ass'>
                        <div class="edt-status-light nrm-txt">Nombre de caractère(s) restant(s) : <i id="just-cmt-length"></i></div>
                        <textarea id="just-cmt" class="prof-note-input" placeholder="Entrez un commentaire" style="resize: none;"  name="w3review" rows="2" cols="48" onKeyUp='manageJustComment()'></textarea>
                    </div>
                    <hr>
                    <div id="just-save-btn">
                        <button type="button" onclick="generateNewJustDB()" class="btn btn-default btn-lg btn-block"><i class="icon-print nav-text"></i>&nbsp;Valider et imprimer reçu</button>
                    </div>
                    <br>
                </div>
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-dismiss="modal">Annuler</button>
      </div>
    </div>
  </div>
</div>
