<!-- Modal -->
<div class="modal fade" id="pay-add-just-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="max-width: 70%;" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <strong>Nouveau justificatif</strong>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="add-just-blk" class='popup-box-details'>
            <div class="row">
                <div id="disp-just-ticket" class="col-6 mgs-mainblk-txt">

                    <div id="pay-sc-log" class="blk-log-pay">
                    <i class="icon-arrow-down nav-text"></i>&nbsp;Ticket&nbsp;<i id="sh-ticketref"></i>
                    <div id="pay-sc-log-tra" class="pay-sc-log-tra-txt">
                    </div>
                    </div>
                </div>
                <div id="fill-just-ticket" class="col-6">
                    <div class="menu-dropdown">
                        <div class="dropdown btn-ace-menu">
                            <button class="btn btn-outline-dark dropdown-toggle" type="button" id="dropdownCategory" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i id="drp-select">Catégorie</i>
                            </button>
                            <div id="dpcategory-opt" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            </div>
                        </div>
                    </div>
                    <div id="cat-det">
                    </div>


                </div>
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-dismiss="modal">Annuler</button>
      </div>
    </div>
  </div>
</div>
