
{# _rawlargescreenedtwrowspan vs _rawlargescreenedt #}
{% include 'Admin/EDT/_rawlargescreenedtwrowspan.html.twig' %}
<div class="container">
    <div class="row">
      <div class="col-lg-2 mgs-mainblk-txt">
      </div>
      <div class="col-lg-8 mgs-mainblk-txt">

        
        {{ reportcmt | raw }}
        {{ reportqueries | raw }}
      </div>
      <div class="col-lg-2 mgs-mainblk-txt">
      </div>
    </div>
</div>
