{% include 'RawTemplate/_hearder.w.jsgrid.html.twig' %}
{% if all_pay is defined and all_pay is not null %}
  <script>
    //let dataTagToJson = '<%= @resultSet.map{|o| Hash[o.each_pair.to_a] }.to_json %>';

    let dataAllPAYToJsonArray = JSON.parse('{{ all_pay | json_encode | raw }}');
    // We init here the filter value
	let filtereddataAllPAYToJsonArray = Array.from(dataAllPAYToJsonArray);
    // Create our number formatter.
    const formatterCurrency = new Intl.NumberFormat('fr-FR', {
      style: 'currency',
      currency: 'MGA'

      // These options are needed to round to whole numbers if that's what you want.
      //minimumFractionDigits: 0, // (this suffices for whole numbers, but will print 2500.10 as $2,500.1)
      //maximumFractionDigits: 0, // (causes 2500.99 to be printed as $2,501)
    });



    // dataTagToJson = dataTagToJson.replace(/&quot;/g,"\"");
    // let dataTagToJsonArray = JSON.parse(dataTagToJson);
  </script>
{% else %}
    // Error
    <script>
      let dataAllPAYToJsonArray = "";
    </script>
{% endif %}


<div id="mg-graph-identifier">man-pay</div>

<div class="row">
  <div class="col-1">
  </div>
  <div class="col-10">
    <h2>Manager Paiement</h2>
    <hr>
  </div>
  <div class="col-1">
  </div>
</div>
<div class="row dash-bar">
  <div class="col-1">
  </div>

  <div class="col-2 fil-el">
    <textarea class="form-control" rows="1" id="filter-all-pay" placeholder="Filtrez min. 2 caractères" style="resize: none;"></textarea>
  </div>
  <div class="col-1 fil-el">
    <button id="re-init-dash-pay" type="button" class="btn btn-md btn-block btn-default">
      <i class="icon-refresh"></i>
    </button>
  </div>
  <div class="col-1">
    
    <button onclick="generateAllPayCSV()" class="btn btn-dark"><i class="icon-file-text-o"></i>&nbsp;Rapport</button>
    
  </div>
  <div class="col-3">

  </div>


  <div class="col-3">
  </div>

  <div class="col-1">
  </div>
</div>
<div class="row">
  <div class="col-1">
  </div>
  <div class="col-10">
    <div id="jsGridAllPAY">
    </div>
  </div>
  <div class="col-1">
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="pay-details-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <strong>Référence de paiement :&nbsp;</strong><i id='title-pay-details'></i>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class='popup-box-details'>
            <i class="icon-files"></i>&nbsp;Détails Paiement
            <br><br>
            <div id='pay-details-txt'>
            </div>
            <hr>
            <i class="icon-mvola"></i>&nbsp;Détails Mvola
            <br><br>
            <div id='pay-mvo-txt'>
            </div>
            <hr>
            <i class="icon-scissors"></i>&nbsp;Détails Réduction
            <br><br>
            <div id='pay-red-txt'>
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>

{# Necessary go to student profile #}
{% include 'Admin/PAY/_gotostudentprofilefrompaymng.html.twig' %}
{% include 'RawTemplate/SPE/_footer.w.paybasic.jsgrid.mgchart.html.twig' %}
