{% include 'RawTemplate/_hearder.w.jsgrid.html.twig' %}
{% if all_mvo is defined and all_mvo is not null %}
  <script>
    //let dataTagToJson = '<%= @resultSet.map{|o| Hash[o.each_pair.to_a] }.to_json %>';

    let dataAllMVOToJsonArray = JSON.parse('{{ all_mvo | json_encode | raw }}');
    // We init here the filter value
	  let filteredDataAllMVOToJsonArray = Array.from(dataAllMVOToJsonArray);
    // Create our number formatter.
    const formatterCurrency = new Intl.NumberFormat('fr-FR', {
      style: 'currency',
      currency: 'MGA'

      // These options are needed to round to whole numbers if that's what you want.
      //minimumFractionDigits: 0, // (this suffices for whole numbers, but will print 2500.10 as $2,500.1)
      //maximumFractionDigits: 0, // (causes 2500.99 to be printed as $2,501)
    });
    // Control for attribution
    let dataAllUSRNToJsonArray = JSON.parse('{{ result_all_usrn | json_encode | raw }}');
    const getToken = '{{ result_get_token }}';

    let foundUserName = '';
    let foundMvolaId = 0;


    // dataTagToJson = dataTagToJson.replace(/&quot;/g,"\"");
    // let dataTagToJsonArray = JSON.parse(dataTagToJson);
  </script>
{% else %}
    // Error
    <script>
      let dataAllMVOToJsonArray = "";
    </script>
{% endif %}


<div id="mg-graph-identifier">man-mvo</div>

<div class="row">
  <div class="col-1">
  </div>
  <div class="col-10">
    <h2>Manager Mvola</h2>
    <hr>
  </div>
  <div class="col-1">
  </div>
</div>
<div class="row dash-bar">
  <div class="col-1">
  </div>

  <div class="col-2 fil-el">
    <textarea class="form-control" rows="1" id="filter-all-mvo" placeholder="Filtrez min. 2 caractères" style="resize: none;"></textarea>
  </div>
  <div class="col-1 fil-el">
    <button id="re-init-dash-mvo" type="button" class="btn btn-md btn-block btn-default">
      <i class="icon-refresh"></i>
    </button>
  </div>
  <div class="col-1">
    
    <button onclick="generateAllMvolaCSV()" class="btn btn-dark"><i class="icon-file-text-o"></i>&nbsp;Rapport</button>
    
  </div>
  <div class="col-3">

  </div>


  <div class="col-3">
  </div>

  <div class="col-1">
  </div>
</div>
<div class="row">
  <div class="col-1">
  </div>
  <div class="col-10">
    <div id="jsGridAllMVO">
    </div>
  </div>
  <div class="col-1">
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="mvo-details-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <strong>Référence:&nbsp;</strong><i id='title-mvo-details'></i>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class='popup-box-details'>
            <i class="icon-mvola"></i>&nbsp;Détails Mvola
            <br><br>
            <div id='mvo-details-txt'>
            </div>
            <div id='assign-mvo'>
            <hr>
                <div class='pop-up-title'><i class="icon-map-signs"></i>&nbsp;Attribuer ce paiement à un étudiant</div>
                <i class="recap-mis"><span class="icon-exclamation-triangle nav-icon-fa nav-text"></span></i>&nbsp;Confirmez bien les informations en bleu avant d'attribuer le Mvola. Rappelez à l'étudiant que des frais additionnels Mvola vont être prélevés automatiquement.
                <br>
                <span class="icon-person nav-icon-fa nav-text"></span>&nbsp;<i id="last-read-bc" class="mgs-addpay-lg"></i><br>
                
                <div id='scan-mvo-input'>
                    <input class="form-control mgs-readacebc" rows="1" id="addpay-ace" name="inputUserName" placeholder="Scannez username">
                </div>
                <div id='scan-mvo-btn'>
                    <button onclick="do()" id='btn-attmvo' class="btn btn-lg btn-default btn-block">Attribuer à <i id='ctrl-name'></i></button>
                    <button onclick="resetMvoAttribuer()" id='btn-canattmvo' class="btn btn-md btn-outline-dark btn-block">Annuler</button>
                </div>
            </div>
            <hr>
            <i class="icon-files"></i>&nbsp;Détails Fichier
            <br><br>
            <div id='mvo-file-txt'>
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>

{% include 'RawTemplate/SPE/_footer.w.paybasic.jsgrid.mgchart.html.twig' %}
