{% include 'RawTemplate/_hearder.html.twig' %}

<div class="row">
  <div class="col-lg-3 mgs-mainblk-txt">
  </div>

  <div class="col-lg-6">
    <div class="mgs-questiondefinition">
      <form action="{{ path('verify_connection') }}" method="post" class="mg-verify-page" autocomplete="new-password">
          <div>
            <div class="mg-verify-logo">
            <img src="{{ path('main') }}img/LogoRefSQRounded400X400.png" style="width:125px; height:125px; opacity: 0.5;"
                      title="MGScoreCertificate" alt="MGScore Certification">
            </div>
            <div class="row">
              <div class="col-lg-6 form-group">

                {# <textarea class="form-control" rows="1" id="inputMG" name="inputUserName" placeholder="Username"></textarea> #}
                <input class="form-control" rows="1" id="inputMG" name="inputUserName" placeholder="Username">
              </div>
              <div class="col-lg-3 form-group">
                {# <textarea class="form-control" rows="1" id="inputMGCode" name="inputPassword" placeholder="Mot de passe"></textarea> #}
                <input class="form-control" rows="1" id="inputMGCode" type="password" name="inputPassword" placeholder="Mot de passe">
              </div>
              <div class="col-lg-3 form-group mg-verify-bar">
                <input type="submit" name="formSubmit" id="btnVerify" class="btn btn btn-outline-dark btn-md btn-block" value="Se Connecter"/>
              </div>
              {% if mgverifynotfound is defined %}
                  <div class="col-lg-12 alert alert-danger" role="alert">
                    Navré&nbsp;<i class="far fa-frown"></i>&nbsp;mot de passe ou utilisateur est introuvable.
                  </div>
              {% endif %}
              {% if logmeout is defined %}
                  <div class="col-lg-12 alert alert-primary" role="alert">
                    Vous avez été correctement déconnecté.
                  </div>
              {% endif %}
            </div>
          </div>

      </form>
    </div>
  </div>


  <div class="col-lg-3 mgs-mainblk-txt">
  </div>
</div>

{% include 'RawTemplate/_footer.html.twig' %}
