<!DOCTYPE html>
<html>
<head>
  <title>UACEEM</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="shortcut icon" type="image/png" href="{{ path('main') }}img/logo32x32.jpg">

  <link rel="stylesheet" href="{{ path('main') }}css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ path('main') }}css/all.min.css">
  <link rel="stylesheet" href="{{ path('main') }}css/mgapp.css">

      <!-- Renders a link tag (if your module requires any CSS)
           <link rel="stylesheet" href="/build/app.css"> -->
</head>
<body>
{% include 'RawTemplate/_navbar.html.twig' %}

<div class="wrapper">
