<div class="row">
  <div class="col-lg-3 mgs-mainblk-txt">
  </div>
  <div class="col-lg-6 mgs-mainblk-txt">
        <img src="{{ path('main') }}img/inProgress500_500px.png" style="width:250px; height:250px; opacity: 0.6;"
                  title="Page en construction" alt="Page en construction" class="uac-img-center error-img">

              <div class='center'>
                La page est encore en construction, nous revenons très vite !
              </div>
  </div>
  <div class="col-lg-3 mgs-mainblk-txt">
  </div>
</div>
