<ul class="navbar-nav mr-auto">
  <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {# Manage celebration CALENDAR #}
        {% set celeb_suffix = "" %}
        {% set celeb_mi = "now"|date("m") %}
        {% set celeb_di = "now"|date("d") %}

        {# Woman's right 7 and 8 march #}
        {% if (celeb_mi == "03") and (6 < celeb_di) and (celeb_di < 9) %}
           {% set celeb_suffix = "_8ma" %}
        {% elseif (celeb_mi == "03") and (27 < celeb_di) and (celeb_di < 30) %}
           {% set celeb_suffix = "_29m" %}
        {# To be changed every year Easter #}
        {% elseif (celeb_mi == "04") and (3 < celeb_di) and (celeb_di < 11) %}
           {% set celeb_suffix = "_eas" %}
        {% elseif (celeb_mi == "06") and (10 < celeb_di) and (celeb_di < 27) %}
           {% set celeb_suffix = "_26j" %}
        {% elseif (celeb_mi == "12") and (14 < celeb_di) %}
           {% set celeb_suffix = "_dec" %}
        {% elseif (celeb_mi == "01") and (0 < celeb_di) and (celeb_di < 20) %}
           {% set celeb_suffix = "_hap" %}
        {% else %}
            {# Do nothing #}
        {% endif %}

        <img src="{{ path('main') }}img/logotext620x200{{ celeb_suffix }}.png" style="width:150px;"
              title="ACE Menu Logo" alt="ACE Menu Logo">
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="/">Découvrir l'Université ACEEM</a>
        <a class="dropdown-item" href="/">FAQ</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/">Vous souhaitez devenir étudiant</a>
        <a class="dropdown-item" href="/partner">Vous êtes une entreprise</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/didiapply">Vérifier votre inscription</a>
        <a class="dropdown-item" href="/">Passer le concours</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/contact">Où nous rencontrer</a>
      </div>
  </li>
</ul>
