
    <nav class="navbar fixed-top navbar-expand-lg navbar-light" style="background-color: #F9F5FA;">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img src="{{ path('main') }}img/logotext620x200.png" style="width:150px;"
                    title="MGScore" alt="MGScore Logo">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Découvrir le MG Score</a>
              <a class="dropdown-item" href="#">FAQ</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Vous êtes une entreprise</a>
              <a class="dropdown-item" href="#">Vous êtes une école d'enseignement supérieur</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Passer l'examen</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Traces</a>
            </div>
        </li>
      </ul>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" id="mg-nav-but-verf" href="#">Université</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="mg-nav-but-sent" href="/mention">Formation</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="mg-nav-but-sent" href="#">Actualité</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="mg-nav-but-sent" href="/profile">Partenariat</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="mg-nav-but-shw" href="#">Inscription</a>
          </li>
        </ul>
      </div>
    </nav>
    <br>
