{% if (amiconnected is defined) and (amiconnected is not null) and (amiconnected != "") and ((scale_right > 49) or (scale_right > 99)) %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPay" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Paiement
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPay">
                <a class="dropdown-item" href="/refpay"><span class="icon-cash nav-icon-fa nav-text"></span>&nbsp;<span class="ace-nav-adj">Frais de scolarité</span></a>
            {% if (scale_right is defined) and (scale_right is not null) and ((scale_right == 51) or (scale_right > 99)) %}
                <hr>
                <a class="dropdown-item" href="/addpay"><span class="icon-vallet nav-icon-fa nav-text"></span>&nbsp;<span class="ace-nav-adj">Créer paiement</span></a>
            {% endif %}
                <hr>
                <a class="dropdown-item" href="/dashboardpay"><span class="icon-pie-chart nav-icon-fa nav-text"></span>&nbsp;<span class="ace-nav-adj">Dashboard paiement</span></a>
                <a class="dropdown-item" href="/managerpay"><span class="icon-files nav-icon-fa nav-text"></span>&nbsp;<span class="ace-nav-adj">Manager paiement</span></a>
                <hr>
                <a class="dropdown-item" href="/managerjust"><span class="icon-file-text-o nav-icon-fa nav-text"></span>&nbsp;<span class="ace-nav-adj">Manager justificatif</span></a>
            {% if (scale_right is defined) and (scale_right is not null) and ((scale_right == 51) or (scale_right > 99)) %}
                <hr>
                <a class="dropdown-item" href="/loadmvo"><span class="icon-mvola nav-icon-fa nav-text"></span>&nbsp;<span class="ace-nav-adj">Chargement Mvola</span></a>
                <a class="dropdown-item" href="/managermvo"><span class="icon-page-search nav-icon-fa nav-text"></span>&nbsp;<span class="ace-nav-adj">Manager Mvola</span></a>
            {% endif %}
          </div>
        </li>
{% endif %}
