
    <nav class="navbar fixed-top navbar-expand-lg navbar-light" style="background-color: #F9F5FA;">
      {% include 'RawTemplate/_navbarleftmenu.html.twig' %}
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" id="mg-nav-but-home" href="/">Accueil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="mg-nav-but-uni" href="/universite">Université</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="mg-nav-but-men" href="/mention">Formation</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="mg-nav-but-part" href="/partner">Partenariat</a>
          </li>
          {# Test Connection #}
          {% include 'RawTemplate/_navbarpaymenu.html.twig' %}
          {% include 'RawTemplate/_navbargrademenu.html.twig' %}
          {% include 'RawTemplate/_navbarconnectedmenu.html.twig' %}
        </ul>
      </div>
    </nav>
    <br>
