{# You have to change the scale_right specifically to Grade > 39 #}
{% if (amiconnected is defined) and (amiconnected is not null) and (amiconnected != "") and ((scale_right > 39) or (scale_right > 99)) %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPay" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Note
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPay">
                <a class="dropdown-item" href="/managerprimitif"><span class="icon-archive nav-icon-fa nav-text"></span>&nbsp;<span class="ace-nav-adj">Manager primitif</span></a>
                <a class="dropdown-item" href="/managergraexam"><span class="icon-suitcase-1 nav-icon-fa nav-text"></span>&nbsp;<span class="ace-nav-adj">Manager examen</span></a>
                <hr>
                <a class="dropdown-item" href="/missingstudent"><span class="icon-medkit nav-icon-fa nav-text"></span>&nbsp;<span class="ace-nav-adj">Étudiant manquant</span></a>
                {# if (scale_right is defined) and (scale_right is not null) and ((scale_right == 41) or (scale_right > 99)) #}
                {# 41 is the access to create subject #}
                {# 42 is the access to write grade #}
                {% if (scale_right is defined) and (scale_right is not null) and ((scale_right == 41) or (scale_right == 42) or (scale_right > 99)) %}
                  <hr>
                  <a class="dropdown-item" href="/loadgrascan"><span class="icon-clipboard nav-icon-fa nav-text"></span>&nbsp;<span class="ace-nav-adj">Charger scan</span></a>
                {% endif %}
          </div>
        </li>
{% endif %}
