
    <nav class="navbar fixed-top navbar-expand-lg navbar-light" style="background-color: #F9F5FA;">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img src="{{ path('main') }}img/logotext620x200.png" style="width:150px;"
                    title="MGScore" alt="MGScore Logo">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/scan/in"><span class="icon-sign-in nav-icon-fa nav-text"></span>&nbsp;<span class="nav-text">Scan entrée</span></a>
              <a class="dropdown-item" href="/scan/out"><span class="icon-sign-out nav-icon-fa nav-text"></span>&nbsp;<span class="nav-text">Scan sortie</span></a>
              <a class="dropdown-item" href="/checklastscan"><span class="icon-eye nav-icon-fa nav-text"></span>&nbsp;<span class="nav-text">Vérifier scan</span></a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/uaclogout"><span class="icon-arrow-circle-right nav-icon-fa nav-text"></span>&nbsp;<span class="nav-text">Déconnecter</span></a>
            </div>
        </li>
      </ul>
      </div>
    </nav>
    <br>
