<footer>


  <div class="row mgs-footer">
    <div class="col-lg-6 mgs-footer-inbox-left">
      <a href="https://www.linkedin.com/company/universite-aceem/about/"><span class="icon-linkedin-square nav-icon-fa nav-text"></a></span>&nbsp
      <a href="https://www.facebook.com/oniversiteaceem"><span class="icon-facebook-square nav-icon-fa nav-text"></a></span>&nbsp
      <a href="https://www.twitter.com/aceemgroupe/"><span class="icon-twitter-square nav-icon-fa nav-text"></a></span>&nbsp
      <a href="https://www.youtube.com/channel/UCRGuznDvrEYcZWLJ525Q9iQ"><span class="icon-youtube-square nav-icon-fa nav-text"></a></span>&nbsp
      <a href="https://www.instagram.com/aceemgroupe/"><span class="icon-instagram nav-icon-fa nav-text"></a></span>&nbsp
      Vita gasy with <i class="fas fa-heart"></i>
    </div>
    <div class="col-lg-6 mgs-footer-inbox-right">
      <span class="icon-rova5 footer-icon-fa nav-text"></span> <a href="/contact">Université ACEEM</a>, <a href="/cgu">tous droits réservés</a><br>

    </div>
  </div>
</footer>
