<div class="row" id="waiting-blc">
  <div class="col-2">
  </div>
  <div class="col-8">
      <img src="{{ path('main') }}img/waiting.gif" style="width:175px; height:175px; opacity: 1;" title="no Photo" alt="No Photo" class="uac-img-center img-profile">
      <div class="waiting-msg">&nbsp; Veuillez patienter &nbsp;</div>
  </div>
  <div class="col-2">
  </div>
</div>
