<!-- Modal -->
<div class="modal fade" id="tea-details-modal-readonly" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div id="stu-contener" class="modal-content">
      <div class="modal-header">
        <strong>Voir&nbsp;<i id='title-stu-details-readonly' class='nrm-txt'></i></strong>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class='popup-box-details'>
            <i class="icon-person"></i>&nbsp;Détails en lecture seule<br>
                <div class="mgs-note-nopad">
                  Si vous voulez changer des informations, rapprochez-vous du responsable des EDT.
                </div>
                <div id="disp-err-msg" class="mgs-note-nopad-err">
                </div>
                <div id='pro-details-stu'>
                    <div class="edt-status-gray nrm-txt">Titre</div>
                    <div class="ro-popup" id="ro-title">Lorem Ipsum</div>

                    <div class="edt-status-gray nrm-txt">Nom de famille</div>
                    <div class="ro-popup" id="ro-lastname">Lorem Ipsum</div>
                    
                    <div class="menu-dropdown">
                      <div class="split-mod-prof pop-left-el">
                          <i class="edt-status-gray nrm-txt">Premier prénom</i><br>
                          <div class="ro-popup" id="ro-firstname">Lorem Ipsum</div>
                      </div>
                      <div>
                          <i class="edt-status-light nrm-txt">Autres prénoms</i><br>
                          <div class="ro-popup" id="ro-othfirstname">Lorem Ipsum</div>
                      </div>
                    </div>
                    <div class="menu-dropdown">
                      <div class="split-mod-prof pop-left-el">
                          <i class="edt-status-gray nrm-txt">Téléphone</i><br>
                          <div class="ro-popup" id="ro-telmain">Lorem Ipsum</div>
                      </div>
                      <div>
                          <i class="edt-status-light nrm-txt">Téléphone alternatif</i><br>
                          <div class="ro-popup" id="ro-telalt">Lorem Ipsum</div>
                      </div>
                    </div>
                    <div class="edt-status-gray nrm-txt">Email</div>
                    <div class="ro-popup" id="ro-email">Lorem Ipsum</div>
                    
                    <hr>
                    <div class="edt-status-gray nrm-txt">Contrat</div>
                    <div class="ro-popup" id="ro-contract">Lorem Ipsum</div>
                    <div class="edt-status-gray nrm-txt">Mention(s)</div>
                    <div class="ro-popup" id="ro-mentions">Lorem Ipsum</div>
                    <br>
                    <div class="edt-status-gray nrm-txt">Remarques</div>
                    <div class="ro-popup" id="ro-noteass">Lorem Ipsum</div>
                </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>